$columns: 16;

$classes-prefixes: (
  background: 'bg-',
  color: 'text-',
  margin: 'm-',
  margin-top: 'mt-',
  margin-right: 'mr-',
  margin-bottom: 'mb-',
  margin-left: 'ml-',
  margin-inline: 'mx-',
  margin-block: 'my-',
  padding: 'p-',
  padding-top: 'pt-',
  padding-right: 'pr-',
  padding-bottom: 'pb-',
  padding-left: 'pl-',
  padding-inline: 'px-',
  padding-block: 'py-'
);

// Breakpoint-name, breakpoint-min-width & container width
$breakpoints: (
  'tablet': '(min-width: 720px)',
  'desktop': '(min-width: 960px)',
  'big-screen': '(min-width: 1152px)',
);

// Spacing
$spacing: (
  'xs': var(--spc-xs),
  'sm': var(--spc-sm),
  'md': var(--spc-md),
  'lg': var(--spc-lg),
  'xl': var(--spc-xl),
  '2xl': var(--spc-2xl),
  '3xl': var(--spc-3xl)
);

$foreground-colors: (
  '01': var(--color-gray-01),
  '02': var(--color-gray-02),
  '03': var(--color-gray-03),
  '04': var(--color-gray-04)
);

$background-colors: (
  '01': var(--color-gray-04),
  '02': var(--color-gray-03),
  '03': var(--color-gray-02),
  '04': var(--color-gray-01)
);
