:root {
  /* colors */
  --color-white: #ffffff;
  --color-black: #101010;
  --color-brand-01: #101010;
  --color-brand-02: #bea382;
  --color-gray-01: #101010;
  --color-gray-02: #757575;
  --color-gray-03: #999999;
  --color-gray-04: #f4f4f4;

  /* spacing */
  --spc-xs: 4px;
  --spc-sm: 8px;
  --spc-md: 16px;
  --spc-lg: 32px;
  --spc-xl: 64px;
  --spc-2xl: 128px;
  --spc-3xl: 192px;
}

[data-theme="dark"] {
  /* colors */
  --color-white: #ffffff;
  --color-black: #101010;
  --color-brand-01: #101010;
  --color-brand-02: #bea382;
  --color-gray-01: #101010;
  --color-gray-02: #757575;
  --color-gray-03: #999999;
  --color-gray-04: #f4f4f4;

  /* spacing */
  --spc-xs: 4px;
  --spc-sm: 8px;
  --spc-md: 16px;
  --spc-lg: 32px;
  --spc-xl: 64px;
  --spc-2xl: 128px;
  --spc-3xl: 192px;
}
