///
/// Thyme mixings
///

@use 'sass:map';

@import '../../thyme.config.scss';

@function get-thyme-config($key, $value) {
  $v: map.get($key, $value);
  @if ($v) {
    @return map.get($key, $value);
  }
}

@mixin media-query($key) {
  $matched-breakpoint: map-get($breakpoints, $key);
  @if not $matched-breakpoint {
    // @warn #{ 'Breakpoint, ‘' + $key + '’ not found in `$thyme-config`. Make sure it’s set in the ‘breakpoints’ section.' };
  } @else {
    @media #{ $matched-breakpoint } {
      @content;
    }
  }
}

@mixin thyme_class($className, $properties, $tokens) {
  @each $name, $value in $tokens {
    @each $prop in $properties {
      .#{$className}#{$name} {
        #{$prop}: #{$value};
      }
    }
    @each $mq, $_ in $breakpoints {
      @include media-query($mq) {
        @each $prop in $properties {
          .#{$mq}\:#{$className}#{$name} {
            #{$prop}: #{$value};
          }
        }
      }
    }
  }
}

// Create thyme responsive classes using configured breakpoints in
// the thyme.config.scss file.
@mixin thyme_responsive_class($className, $css) {
  @each $name, $_ in $breakpoints {
    $prop: nth($css, 1);
    $value: nth($css, 2);
    .#{$className} {
      #{$prop}: #{$value};
    }
    @include media-query($name) {
      .#{$name}\:#{$className} {
        #{$prop}: #{$value};
      }
    }
  }
}
