:root {

  /* colors */
  --color-white: #ffffff;
  --color-black: #101010;
  --color-brand-01: #101010;
  --color-brand-02: #bea382;
  --color-gray-01: #101010;
  --color-gray-02: #757575;
  --color-gray-03: #999999;
  --color-gray-04: #f4f4f4;

  /* spacing */
  --spc-xs: 4px;
  --spc-s: 8px;
  --spc-m: 16px;
  --spc-l: 32px;
  --spc-xl: 64px;
  --spc-xxl: 128px;
  --spc-xxxl: 192px;

}
