@use 'sass:map';
@use 'sass:math';

/// Thyme utility file
@import '../../thyme.config.scss';

.w-screen {
  width: 100vw;
}
.w-full {
  width: 100%;
}

@each $name, $_ in $breakpoints {
  @include media-query($name) {
    .#{$name}\:w-screen {
      width: 100vw;
    }
    .#{$name}\:w-full {
      width: 100%;
    }
  }
}

@for $i from 1 through $columns {
  // Mobile <
  .w-#{$i}\/#{$columns} {
    width: math.div($i, $columns) * 100%;
  }

  // > Mobile
  @each $name, $_ in $breakpoints {
    @include media-query($name) {
      .#{$name}\:w-#{$i}\/#{$columns} {
        width: math.div($i, $columns) * 100%;
      }
    }
  }
}
