body,
html {
  margin: 0;
  padding: 0;
}
body *,
html * {
  box-sizing: border-box;
}
:root {
  --color-white: #fff;
  --color-black: #101010;
  --color-brand-01: #101010;
  --color-brand-02: #bea382;
  --color-gray-01: #101010;
  --color-gray-02: #bdbdbd;
  --color-gray-03: #757575;
  --spc-xs: 4px;
  --spc-s: 8px;
  --spc-m: 16px;
  --spc-l: 32px;
  --spc-xl: 64px;
  --spc-xxl: 128px;
  --spc-xxxl: 192px;
}
.text-1 {
  color: var(--gray-01);
}
.text-2 {
  color: var(--gray-02);
}
.text-3 {
  color: var(--gray-03);
}
.bg-1 {
  background-color: #101010;
  background-color: var(--color-gray-01);
}
.bg-2 {
  background-color: #bdbdbd;
  background-color: var(--color-gray-02);
}
.bg-3 {
  background-color: #757575;
  background-color: var(--color-gray-03);
}
.m-1 {
  margin: 4px;
  margin: var(--spc-xs);
}
.m-2 {
  margin: 8px;
  margin: var(--spc-s);
}
.m-3 {
  margin: 16px;
  margin: var(--spc-m);
}
.m-4 {
  margin: 32px;
  margin: var(--spc-l);
}
.m-5 {
  margin: 64px;
  margin: var(--spc-xl);
}
.m-6 {
  margin: 128px;
  margin: var(--spc-xxl);
}
.m-7 {
  margin: 192px;
  margin: var(--spc-xxxl);
}
.mt-1 {
  margin-top: 4px;
  margin-top: var(--spc-xs);
}
.mt-2 {
  margin-top: 8px;
  margin-top: var(--spc-s);
}
.mt-3 {
  margin-top: 16px;
  margin-top: var(--spc-m);
}
.mt-4 {
  margin-top: 32px;
  margin-top: var(--spc-l);
}
.mt-5 {
  margin-top: 64px;
  margin-top: var(--spc-xl);
}
.mt-6 {
  margin-top: 128px;
  margin-top: var(--spc-xxl);
}
.mt-7 {
  margin-top: 192px;
  margin-top: var(--spc-xxxl);
}
.mr-1 {
  margin-right: 4px;
  margin-right: var(--spc-xs);
}
.mr-2 {
  margin-right: 8px;
  margin-right: var(--spc-s);
}
.mr-3 {
  margin-right: 16px;
  margin-right: var(--spc-m);
}
.mr-4 {
  margin-right: 32px;
  margin-right: var(--spc-l);
}
.mr-5 {
  margin-right: 64px;
  margin-right: var(--spc-xl);
}
.mr-6 {
  margin-right: 128px;
  margin-right: var(--spc-xxl);
}
.mr-7 {
  margin-right: 192px;
  margin-right: var(--spc-xxxl);
}
.mb-1 {
  margin-bottom: 4px;
  margin-bottom: var(--spc-xs);
}
.mb-2 {
  margin-bottom: 8px;
  margin-bottom: var(--spc-s);
}
.mb-3 {
  margin-bottom: 16px;
  margin-bottom: var(--spc-m);
}
.mb-4 {
  margin-bottom: 32px;
  margin-bottom: var(--spc-l);
}
.mb-5 {
  margin-bottom: 64px;
  margin-bottom: var(--spc-xl);
}
.mb-6 {
  margin-bottom: 128px;
  margin-bottom: var(--spc-xxl);
}
.mb-7 {
  margin-bottom: 192px;
  margin-bottom: var(--spc-xxxl);
}
.ml-1 {
  margin-left: 4px;
  margin-left: var(--spc-xs);
}
.ml-2 {
  margin-left: 8px;
  margin-left: var(--spc-s);
}
.ml-3 {
  margin-left: 16px;
  margin-left: var(--spc-m);
}
.ml-4 {
  margin-left: 32px;
  margin-left: var(--spc-l);
}
.ml-5 {
  margin-left: 64px;
  margin-left: var(--spc-xl);
}
.ml-6 {
  margin-left: 128px;
  margin-left: var(--spc-xxl);
}
.ml-7 {
  margin-left: 192px;
  margin-left: var(--spc-xxxl);
}
.mx-1 {
  margin-left: 4px;
  margin-left: var(--spc-xs);
  margin-right: 4px;
  margin-right: var(--spc-xs);
}
.mx-2 {
  margin-left: 8px;
  margin-left: var(--spc-s);
  margin-right: 8px;
  margin-right: var(--spc-s);
}
.mx-3 {
  margin-left: 16px;
  margin-left: var(--spc-m);
  margin-right: 16px;
  margin-right: var(--spc-m);
}
.mx-4 {
  margin-left: 32px;
  margin-left: var(--spc-l);
  margin-right: 32px;
  margin-right: var(--spc-l);
}
.mx-5 {
  margin-left: 64px;
  margin-left: var(--spc-xl);
  margin-right: 64px;
  margin-right: var(--spc-xl);
}
.mx-6 {
  margin-left: 128px;
  margin-left: var(--spc-xxl);
  margin-right: 128px;
  margin-right: var(--spc-xxl);
}
.mx-7 {
  margin-left: 192px;
  margin-left: var(--spc-xxxl);
  margin-right: 192px;
  margin-right: var(--spc-xxxl);
}
.my-1 {
  margin-top: 4px;
  margin-top: var(--spc-xs);
  margin-bottom: 4px;
  margin-bottom: var(--spc-xs);
}
.my-2 {
  margin-top: 8px;
  margin-top: var(--spc-s);
  margin-bottom: 8px;
  margin-bottom: var(--spc-s);
}
.my-3 {
  margin-top: 16px;
  margin-top: var(--spc-m);
  margin-bottom: 16px;
  margin-bottom: var(--spc-m);
}
.my-4 {
  margin-top: 32px;
  margin-top: var(--spc-l);
  margin-bottom: 32px;
  margin-bottom: var(--spc-l);
}
.my-5 {
  margin-top: 64px;
  margin-top: var(--spc-xl);
  margin-bottom: 64px;
  margin-bottom: var(--spc-xl);
}
.my-6 {
  margin-top: 128px;
  margin-top: var(--spc-xxl);
  margin-bottom: 128px;
  margin-bottom: var(--spc-xxl);
}
.my-7 {
  margin-top: 192px;
  margin-top: var(--spc-xxxl);
  margin-bottom: 192px;
  margin-bottom: var(--spc-xxxl);
}
.p-1 {
  padding: 4px;
  padding: var(--spc-xs);
}
.p-2 {
  padding: 8px;
  padding: var(--spc-s);
}
.p-3 {
  padding: 16px;
  padding: var(--spc-m);
}
.p-4 {
  padding: 32px;
  padding: var(--spc-l);
}
.p-5 {
  padding: 64px;
  padding: var(--spc-xl);
}
.p-6 {
  padding: 128px;
  padding: var(--spc-xxl);
}
.p-7 {
  padding: 192px;
  padding: var(--spc-xxxl);
}
.pt-1 {
  padding-top: 4px;
  padding-top: var(--spc-xs);
}
.pt-2 {
  padding-top: 8px;
  padding-top: var(--spc-s);
}
.pt-3 {
  padding-top: 16px;
  padding-top: var(--spc-m);
}
.pt-4 {
  padding-top: 32px;
  padding-top: var(--spc-l);
}
.pt-5 {
  padding-top: 64px;
  padding-top: var(--spc-xl);
}
.pt-6 {
  padding-top: 128px;
  padding-top: var(--spc-xxl);
}
.pt-7 {
  padding-top: 192px;
  padding-top: var(--spc-xxxl);
}
.pr-1 {
  padding-right: 4px;
  padding-right: var(--spc-xs);
}
.pr-2 {
  padding-right: 8px;
  padding-right: var(--spc-s);
}
.pr-3 {
  padding-right: 16px;
  padding-right: var(--spc-m);
}
.pr-4 {
  padding-right: 32px;
  padding-right: var(--spc-l);
}
.pr-5 {
  padding-right: 64px;
  padding-right: var(--spc-xl);
}
.pr-6 {
  padding-right: 128px;
  padding-right: var(--spc-xxl);
}
.pr-7 {
  padding-right: 192px;
  padding-right: var(--spc-xxxl);
}
.pb-1 {
  padding-bottom: 4px;
  padding-bottom: var(--spc-xs);
}
.pb-2 {
  padding-bottom: 8px;
  padding-bottom: var(--spc-s);
}
.pb-3 {
  padding-bottom: 16px;
  padding-bottom: var(--spc-m);
}
.pb-4 {
  padding-bottom: 32px;
  padding-bottom: var(--spc-l);
}
.pb-5 {
  padding-bottom: 64px;
  padding-bottom: var(--spc-xl);
}
.pb-6 {
  padding-bottom: 128px;
  padding-bottom: var(--spc-xxl);
}
.pb-7 {
  padding-bottom: 192px;
  padding-bottom: var(--spc-xxxl);
}
.pl-1 {
  padding-left: 4px;
  padding-left: var(--spc-xs);
}
.pl-2 {
  padding-left: 8px;
  padding-left: var(--spc-s);
}
.pl-3 {
  padding-left: 16px;
  padding-left: var(--spc-m);
}
.pl-4 {
  padding-left: 32px;
  padding-left: var(--spc-l);
}
.pl-5 {
  padding-left: 64px;
  padding-left: var(--spc-xl);
}
.pl-6 {
  padding-left: 128px;
  padding-left: var(--spc-xxl);
}
.pl-7 {
  padding-left: 192px;
  padding-left: var(--spc-xxxl);
}
.px-1 {
  padding-left: 4px;
  padding-left: var(--spc-xs);
  padding-right: 4px;
  padding-right: var(--spc-xs);
}
.px-2 {
  padding-left: 8px;
  padding-left: var(--spc-s);
  padding-right: 8px;
  padding-right: var(--spc-s);
}
.px-3 {
  padding-left: 16px;
  padding-left: var(--spc-m);
  padding-right: 16px;
  padding-right: var(--spc-m);
}
.px-4 {
  padding-left: 32px;
  padding-left: var(--spc-l);
  padding-right: 32px;
  padding-right: var(--spc-l);
}
.px-5 {
  padding-left: 64px;
  padding-left: var(--spc-xl);
  padding-right: 64px;
  padding-right: var(--spc-xl);
}
.px-6 {
  padding-left: 128px;
  padding-left: var(--spc-xxl);
  padding-right: 128px;
  padding-right: var(--spc-xxl);
}
.px-7 {
  padding-left: 192px;
  padding-left: var(--spc-xxxl);
  padding-right: 192px;
  padding-right: var(--spc-xxxl);
}
.py-1 {
  padding-top: 4px;
  padding-top: var(--spc-xs);
  padding-bottom: 4px;
  padding-bottom: var(--spc-xs);
}
.py-2 {
  padding-top: 8px;
  padding-top: var(--spc-s);
  padding-bottom: 8px;
  padding-bottom: var(--spc-s);
}
.py-3 {
  padding-top: 16px;
  padding-top: var(--spc-m);
  padding-bottom: 16px;
  padding-bottom: var(--spc-m);
}
.py-4 {
  padding-top: 32px;
  padding-top: var(--spc-l);
  padding-bottom: 32px;
  padding-bottom: var(--spc-l);
}
.py-5 {
  padding-top: 64px;
  padding-top: var(--spc-xl);
  padding-bottom: 64px;
  padding-bottom: var(--spc-xl);
}
.py-6 {
  padding-top: 128px;
  padding-top: var(--spc-xxl);
  padding-bottom: 128px;
  padding-bottom: var(--spc-xxl);
}
.py-7 {
  padding-top: 192px;
  padding-top: var(--spc-xxxl);
  padding-bottom: 192px;
  padding-bottom: var(--spc-xxxl);
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
:root {
  --sm-container: 480px;
  --md-container: 720px;
  --l-container: 960px;
  --xl-container: 1152px;
  --xxl-container: 1536px;
}
.w-screen {
  width: 100vw;
}
.w-full {
  width: 100%;
}
.w-1\/12 {
  width: 8.33333%;
}
.w-2\/12 {
  width: 16.66667%;
}
.w-3\/12 {
  width: 25%;
}
.w-4\/12 {
  width: 33.33333%;
}
.w-5\/12 {
  width: 41.66667%;
}
.w-6\/12 {
  width: 50%;
}
.w-7\/12 {
  width: 58.33333%;
}
.w-8\/12 {
  width: 66.66667%;
}
.w-9\/12 {
  width: 75%;
}
.w-10\/12 {
  width: 83.33333%;
}
.w-11\/12 {
  width: 91.66667%;
}
.w-12\/12 {
  width: 100%;
}
@media (min-width: 480px) {
  .sm\:text-1 {
    color: var(--gray-01);
  }
  .sm\:text-2 {
    color: var(--gray-02);
  }
  .sm\:text-3 {
    color: var(--gray-03);
  }
  .sm\:bg-1 {
    background-color: #101010;
    background-color: var(--color-gray-01);
  }
  .sm\:bg-2 {
    background-color: #bdbdbd;
    background-color: var(--color-gray-02);
  }
  .sm\:bg-3 {
    background-color: #757575;
    background-color: var(--color-gray-03);
  }
  .sm\:m-1 {
    margin: 4px;
    margin: var(--spc-xs);
  }
  .sm\:m-2 {
    margin: 8px;
    margin: var(--spc-s);
  }
  .sm\:m-3 {
    margin: 16px;
    margin: var(--spc-m);
  }
  .sm\:m-4 {
    margin: 32px;
    margin: var(--spc-l);
  }
  .sm\:m-5 {
    margin: 64px;
    margin: var(--spc-xl);
  }
  .sm\:m-6 {
    margin: 128px;
    margin: var(--spc-xxl);
  }
  .sm\:m-7 {
    margin: 192px;
    margin: var(--spc-xxxl);
  }
  .sm\:mt-1 {
    margin-top: 4px;
    margin-top: var(--spc-xs);
  }
  .sm\:mt-2 {
    margin-top: 8px;
    margin-top: var(--spc-s);
  }
  .sm\:mt-3 {
    margin-top: 16px;
    margin-top: var(--spc-m);
  }
  .sm\:mt-4 {
    margin-top: 32px;
    margin-top: var(--spc-l);
  }
  .sm\:mt-5 {
    margin-top: 64px;
    margin-top: var(--spc-xl);
  }
  .sm\:mt-6 {
    margin-top: 128px;
    margin-top: var(--spc-xxl);
  }
  .sm\:mt-7 {
    margin-top: 192px;
    margin-top: var(--spc-xxxl);
  }
  .sm\:mr-1 {
    margin-right: 4px;
    margin-right: var(--spc-xs);
  }
  .sm\:mr-2 {
    margin-right: 8px;
    margin-right: var(--spc-s);
  }
  .sm\:mr-3 {
    margin-right: 16px;
    margin-right: var(--spc-m);
  }
  .sm\:mr-4 {
    margin-right: 32px;
    margin-right: var(--spc-l);
  }
  .sm\:mr-5 {
    margin-right: 64px;
    margin-right: var(--spc-xl);
  }
  .sm\:mr-6 {
    margin-right: 128px;
    margin-right: var(--spc-xxl);
  }
  .sm\:mr-7 {
    margin-right: 192px;
    margin-right: var(--spc-xxxl);
  }
  .sm\:mb-1 {
    margin-bottom: 4px;
    margin-bottom: var(--spc-xs);
  }
  .sm\:mb-2 {
    margin-bottom: 8px;
    margin-bottom: var(--spc-s);
  }
  .sm\:mb-3 {
    margin-bottom: 16px;
    margin-bottom: var(--spc-m);
  }
  .sm\:mb-4 {
    margin-bottom: 32px;
    margin-bottom: var(--spc-l);
  }
  .sm\:mb-5 {
    margin-bottom: 64px;
    margin-bottom: var(--spc-xl);
  }
  .sm\:mb-6 {
    margin-bottom: 128px;
    margin-bottom: var(--spc-xxl);
  }
  .sm\:mb-7 {
    margin-bottom: 192px;
    margin-bottom: var(--spc-xxxl);
  }
  .sm\:ml-1 {
    margin-left: 4px;
    margin-left: var(--spc-xs);
  }
  .sm\:ml-2 {
    margin-left: 8px;
    margin-left: var(--spc-s);
  }
  .sm\:ml-3 {
    margin-left: 16px;
    margin-left: var(--spc-m);
  }
  .sm\:ml-4 {
    margin-left: 32px;
    margin-left: var(--spc-l);
  }
  .sm\:ml-5 {
    margin-left: 64px;
    margin-left: var(--spc-xl);
  }
  .sm\:ml-6 {
    margin-left: 128px;
    margin-left: var(--spc-xxl);
  }
  .sm\:ml-7 {
    margin-left: 192px;
    margin-left: var(--spc-xxxl);
  }
  .sm\:mx-1 {
    margin-left: 4px;
    margin-left: var(--spc-xs);
    margin-right: 4px;
    margin-right: var(--spc-xs);
  }
  .sm\:mx-2 {
    margin-left: 8px;
    margin-left: var(--spc-s);
    margin-right: 8px;
    margin-right: var(--spc-s);
  }
  .sm\:mx-3 {
    margin-left: 16px;
    margin-left: var(--spc-m);
    margin-right: 16px;
    margin-right: var(--spc-m);
  }
  .sm\:mx-4 {
    margin-left: 32px;
    margin-left: var(--spc-l);
    margin-right: 32px;
    margin-right: var(--spc-l);
  }
  .sm\:mx-5 {
    margin-left: 64px;
    margin-left: var(--spc-xl);
    margin-right: 64px;
    margin-right: var(--spc-xl);
  }
  .sm\:mx-6 {
    margin-left: 128px;
    margin-left: var(--spc-xxl);
    margin-right: 128px;
    margin-right: var(--spc-xxl);
  }
  .sm\:mx-7 {
    margin-left: 192px;
    margin-left: var(--spc-xxxl);
    margin-right: 192px;
    margin-right: var(--spc-xxxl);
  }
  .sm\:my-1 {
    margin-top: 4px;
    margin-top: var(--spc-xs);
    margin-bottom: 4px;
    margin-bottom: var(--spc-xs);
  }
  .sm\:my-2 {
    margin-top: 8px;
    margin-top: var(--spc-s);
    margin-bottom: 8px;
    margin-bottom: var(--spc-s);
  }
  .sm\:my-3 {
    margin-top: 16px;
    margin-top: var(--spc-m);
    margin-bottom: 16px;
    margin-bottom: var(--spc-m);
  }
  .sm\:my-4 {
    margin-top: 32px;
    margin-top: var(--spc-l);
    margin-bottom: 32px;
    margin-bottom: var(--spc-l);
  }
  .sm\:my-5 {
    margin-top: 64px;
    margin-top: var(--spc-xl);
    margin-bottom: 64px;
    margin-bottom: var(--spc-xl);
  }
  .sm\:my-6 {
    margin-top: 128px;
    margin-top: var(--spc-xxl);
    margin-bottom: 128px;
    margin-bottom: var(--spc-xxl);
  }
  .sm\:my-7 {
    margin-top: 192px;
    margin-top: var(--spc-xxxl);
    margin-bottom: 192px;
    margin-bottom: var(--spc-xxxl);
  }
  .sm\:p-1 {
    padding: 4px;
    padding: var(--spc-xs);
  }
  .sm\:p-2 {
    padding: 8px;
    padding: var(--spc-s);
  }
  .sm\:p-3 {
    padding: 16px;
    padding: var(--spc-m);
  }
  .sm\:p-4 {
    padding: 32px;
    padding: var(--spc-l);
  }
  .sm\:p-5 {
    padding: 64px;
    padding: var(--spc-xl);
  }
  .sm\:p-6 {
    padding: 128px;
    padding: var(--spc-xxl);
  }
  .sm\:p-7 {
    padding: 192px;
    padding: var(--spc-xxxl);
  }
  .sm\:pt-1 {
    padding-top: 4px;
    padding-top: var(--spc-xs);
  }
  .sm\:pt-2 {
    padding-top: 8px;
    padding-top: var(--spc-s);
  }
  .sm\:pt-3 {
    padding-top: 16px;
    padding-top: var(--spc-m);
  }
  .sm\:pt-4 {
    padding-top: 32px;
    padding-top: var(--spc-l);
  }
  .sm\:pt-5 {
    padding-top: 64px;
    padding-top: var(--spc-xl);
  }
  .sm\:pt-6 {
    padding-top: 128px;
    padding-top: var(--spc-xxl);
  }
  .sm\:pt-7 {
    padding-top: 192px;
    padding-top: var(--spc-xxxl);
  }
  .sm\:pr-1 {
    padding-right: 4px;
    padding-right: var(--spc-xs);
  }
  .sm\:pr-2 {
    padding-right: 8px;
    padding-right: var(--spc-s);
  }
  .sm\:pr-3 {
    padding-right: 16px;
    padding-right: var(--spc-m);
  }
  .sm\:pr-4 {
    padding-right: 32px;
    padding-right: var(--spc-l);
  }
  .sm\:pr-5 {
    padding-right: 64px;
    padding-right: var(--spc-xl);
  }
  .sm\:pr-6 {
    padding-right: 128px;
    padding-right: var(--spc-xxl);
  }
  .sm\:pr-7 {
    padding-right: 192px;
    padding-right: var(--spc-xxxl);
  }
  .sm\:pb-1 {
    padding-bottom: 4px;
    padding-bottom: var(--spc-xs);
  }
  .sm\:pb-2 {
    padding-bottom: 8px;
    padding-bottom: var(--spc-s);
  }
  .sm\:pb-3 {
    padding-bottom: 16px;
    padding-bottom: var(--spc-m);
  }
  .sm\:pb-4 {
    padding-bottom: 32px;
    padding-bottom: var(--spc-l);
  }
  .sm\:pb-5 {
    padding-bottom: 64px;
    padding-bottom: var(--spc-xl);
  }
  .sm\:pb-6 {
    padding-bottom: 128px;
    padding-bottom: var(--spc-xxl);
  }
  .sm\:pb-7 {
    padding-bottom: 192px;
    padding-bottom: var(--spc-xxxl);
  }
  .sm\:pl-1 {
    padding-left: 4px;
    padding-left: var(--spc-xs);
  }
  .sm\:pl-2 {
    padding-left: 8px;
    padding-left: var(--spc-s);
  }
  .sm\:pl-3 {
    padding-left: 16px;
    padding-left: var(--spc-m);
  }
  .sm\:pl-4 {
    padding-left: 32px;
    padding-left: var(--spc-l);
  }
  .sm\:pl-5 {
    padding-left: 64px;
    padding-left: var(--spc-xl);
  }
  .sm\:pl-6 {
    padding-left: 128px;
    padding-left: var(--spc-xxl);
  }
  .sm\:pl-7 {
    padding-left: 192px;
    padding-left: var(--spc-xxxl);
  }
  .sm\:px-1 {
    padding-left: 4px;
    padding-left: var(--spc-xs);
    padding-right: 4px;
    padding-right: var(--spc-xs);
  }
  .sm\:px-2 {
    padding-left: 8px;
    padding-left: var(--spc-s);
    padding-right: 8px;
    padding-right: var(--spc-s);
  }
  .sm\:px-3 {
    padding-left: 16px;
    padding-left: var(--spc-m);
    padding-right: 16px;
    padding-right: var(--spc-m);
  }
  .sm\:px-4 {
    padding-left: 32px;
    padding-left: var(--spc-l);
    padding-right: 32px;
    padding-right: var(--spc-l);
  }
  .sm\:px-5 {
    padding-left: 64px;
    padding-left: var(--spc-xl);
    padding-right: 64px;
    padding-right: var(--spc-xl);
  }
  .sm\:px-6 {
    padding-left: 128px;
    padding-left: var(--spc-xxl);
    padding-right: 128px;
    padding-right: var(--spc-xxl);
  }
  .sm\:px-7 {
    padding-left: 192px;
    padding-left: var(--spc-xxxl);
    padding-right: 192px;
    padding-right: var(--spc-xxxl);
  }
  .sm\:py-1 {
    padding-top: 4px;
    padding-top: var(--spc-xs);
    padding-bottom: 4px;
    padding-bottom: var(--spc-xs);
  }
  .sm\:py-2 {
    padding-top: 8px;
    padding-top: var(--spc-s);
    padding-bottom: 8px;
    padding-bottom: var(--spc-s);
  }
  .sm\:py-3 {
    padding-top: 16px;
    padding-top: var(--spc-m);
    padding-bottom: 16px;
    padding-bottom: var(--spc-m);
  }
  .sm\:py-4 {
    padding-top: 32px;
    padding-top: var(--spc-l);
    padding-bottom: 32px;
    padding-bottom: var(--spc-l);
  }
  .sm\:py-5 {
    padding-top: 64px;
    padding-top: var(--spc-xl);
    padding-bottom: 64px;
    padding-bottom: var(--spc-xl);
  }
  .sm\:py-6 {
    padding-top: 128px;
    padding-top: var(--spc-xxl);
    padding-bottom: 128px;
    padding-bottom: var(--spc-xxl);
  }
  .sm\:py-7 {
    padding-top: 192px;
    padding-top: var(--spc-xxxl);
    padding-bottom: 192px;
    padding-bottom: var(--spc-xxxl);
  }
  .sm\:w-screen {
    width: 100vw;
  }
  .sm\:w-full {
    width: 100%;
  }
  .sm\:w-1\/12 {
    width: 8.33333%;
  }
  .sm\:w-2\/12 {
    width: 16.66667%;
  }
  .sm\:w-3\/12 {
    width: 25%;
  }
  .sm\:w-4\/12 {
    width: 33.33333%;
  }
  .sm\:w-5\/12 {
    width: 41.66667%;
  }
  .sm\:w-6\/12 {
    width: 50%;
  }
  .sm\:w-7\/12 {
    width: 58.33333%;
  }
  .sm\:w-8\/12 {
    width: 66.66667%;
  }
  .sm\:w-9\/12 {
    width: 75%;
  }
  .sm\:w-10\/12 {
    width: 83.33333%;
  }
  .sm\:w-11\/12 {
    width: 91.66667%;
  }
  .sm\:w-12\/12 {
    width: 100%;
  }
}
@media (min-width: 720px) {
  .md\:text-1 {
    color: var(--gray-01);
  }
  .md\:text-2 {
    color: var(--gray-02);
  }
  .md\:text-3 {
    color: var(--gray-03);
  }
  .md\:bg-1 {
    background-color: #101010;
    background-color: var(--color-gray-01);
  }
  .md\:bg-2 {
    background-color: #bdbdbd;
    background-color: var(--color-gray-02);
  }
  .md\:bg-3 {
    background-color: #757575;
    background-color: var(--color-gray-03);
  }
  .md\:m-1 {
    margin: 4px;
    margin: var(--spc-xs);
  }
  .md\:m-2 {
    margin: 8px;
    margin: var(--spc-s);
  }
  .md\:m-3 {
    margin: 16px;
    margin: var(--spc-m);
  }
  .md\:m-4 {
    margin: 32px;
    margin: var(--spc-l);
  }
  .md\:m-5 {
    margin: 64px;
    margin: var(--spc-xl);
  }
  .md\:m-6 {
    margin: 128px;
    margin: var(--spc-xxl);
  }
  .md\:m-7 {
    margin: 192px;
    margin: var(--spc-xxxl);
  }
  .md\:mt-1 {
    margin-top: 4px;
    margin-top: var(--spc-xs);
  }
  .md\:mt-2 {
    margin-top: 8px;
    margin-top: var(--spc-s);
  }
  .md\:mt-3 {
    margin-top: 16px;
    margin-top: var(--spc-m);
  }
  .md\:mt-4 {
    margin-top: 32px;
    margin-top: var(--spc-l);
  }
  .md\:mt-5 {
    margin-top: 64px;
    margin-top: var(--spc-xl);
  }
  .md\:mt-6 {
    margin-top: 128px;
    margin-top: var(--spc-xxl);
  }
  .md\:mt-7 {
    margin-top: 192px;
    margin-top: var(--spc-xxxl);
  }
  .md\:mr-1 {
    margin-right: 4px;
    margin-right: var(--spc-xs);
  }
  .md\:mr-2 {
    margin-right: 8px;
    margin-right: var(--spc-s);
  }
  .md\:mr-3 {
    margin-right: 16px;
    margin-right: var(--spc-m);
  }
  .md\:mr-4 {
    margin-right: 32px;
    margin-right: var(--spc-l);
  }
  .md\:mr-5 {
    margin-right: 64px;
    margin-right: var(--spc-xl);
  }
  .md\:mr-6 {
    margin-right: 128px;
    margin-right: var(--spc-xxl);
  }
  .md\:mr-7 {
    margin-right: 192px;
    margin-right: var(--spc-xxxl);
  }
  .md\:mb-1 {
    margin-bottom: 4px;
    margin-bottom: var(--spc-xs);
  }
  .md\:mb-2 {
    margin-bottom: 8px;
    margin-bottom: var(--spc-s);
  }
  .md\:mb-3 {
    margin-bottom: 16px;
    margin-bottom: var(--spc-m);
  }
  .md\:mb-4 {
    margin-bottom: 32px;
    margin-bottom: var(--spc-l);
  }
  .md\:mb-5 {
    margin-bottom: 64px;
    margin-bottom: var(--spc-xl);
  }
  .md\:mb-6 {
    margin-bottom: 128px;
    margin-bottom: var(--spc-xxl);
  }
  .md\:mb-7 {
    margin-bottom: 192px;
    margin-bottom: var(--spc-xxxl);
  }
  .md\:ml-1 {
    margin-left: 4px;
    margin-left: var(--spc-xs);
  }
  .md\:ml-2 {
    margin-left: 8px;
    margin-left: var(--spc-s);
  }
  .md\:ml-3 {
    margin-left: 16px;
    margin-left: var(--spc-m);
  }
  .md\:ml-4 {
    margin-left: 32px;
    margin-left: var(--spc-l);
  }
  .md\:ml-5 {
    margin-left: 64px;
    margin-left: var(--spc-xl);
  }
  .md\:ml-6 {
    margin-left: 128px;
    margin-left: var(--spc-xxl);
  }
  .md\:ml-7 {
    margin-left: 192px;
    margin-left: var(--spc-xxxl);
  }
  .md\:mx-1 {
    margin-left: 4px;
    margin-left: var(--spc-xs);
    margin-right: 4px;
    margin-right: var(--spc-xs);
  }
  .md\:mx-2 {
    margin-left: 8px;
    margin-left: var(--spc-s);
    margin-right: 8px;
    margin-right: var(--spc-s);
  }
  .md\:mx-3 {
    margin-left: 16px;
    margin-left: var(--spc-m);
    margin-right: 16px;
    margin-right: var(--spc-m);
  }
  .md\:mx-4 {
    margin-left: 32px;
    margin-left: var(--spc-l);
    margin-right: 32px;
    margin-right: var(--spc-l);
  }
  .md\:mx-5 {
    margin-left: 64px;
    margin-left: var(--spc-xl);
    margin-right: 64px;
    margin-right: var(--spc-xl);
  }
  .md\:mx-6 {
    margin-left: 128px;
    margin-left: var(--spc-xxl);
    margin-right: 128px;
    margin-right: var(--spc-xxl);
  }
  .md\:mx-7 {
    margin-left: 192px;
    margin-left: var(--spc-xxxl);
    margin-right: 192px;
    margin-right: var(--spc-xxxl);
  }
  .md\:my-1 {
    margin-top: 4px;
    margin-top: var(--spc-xs);
    margin-bottom: 4px;
    margin-bottom: var(--spc-xs);
  }
  .md\:my-2 {
    margin-top: 8px;
    margin-top: var(--spc-s);
    margin-bottom: 8px;
    margin-bottom: var(--spc-s);
  }
  .md\:my-3 {
    margin-top: 16px;
    margin-top: var(--spc-m);
    margin-bottom: 16px;
    margin-bottom: var(--spc-m);
  }
  .md\:my-4 {
    margin-top: 32px;
    margin-top: var(--spc-l);
    margin-bottom: 32px;
    margin-bottom: var(--spc-l);
  }
  .md\:my-5 {
    margin-top: 64px;
    margin-top: var(--spc-xl);
    margin-bottom: 64px;
    margin-bottom: var(--spc-xl);
  }
  .md\:my-6 {
    margin-top: 128px;
    margin-top: var(--spc-xxl);
    margin-bottom: 128px;
    margin-bottom: var(--spc-xxl);
  }
  .md\:my-7 {
    margin-top: 192px;
    margin-top: var(--spc-xxxl);
    margin-bottom: 192px;
    margin-bottom: var(--spc-xxxl);
  }
  .md\:p-1 {
    padding: 4px;
    padding: var(--spc-xs);
  }
  .md\:p-2 {
    padding: 8px;
    padding: var(--spc-s);
  }
  .md\:p-3 {
    padding: 16px;
    padding: var(--spc-m);
  }
  .md\:p-4 {
    padding: 32px;
    padding: var(--spc-l);
  }
  .md\:p-5 {
    padding: 64px;
    padding: var(--spc-xl);
  }
  .md\:p-6 {
    padding: 128px;
    padding: var(--spc-xxl);
  }
  .md\:p-7 {
    padding: 192px;
    padding: var(--spc-xxxl);
  }
  .md\:pt-1 {
    padding-top: 4px;
    padding-top: var(--spc-xs);
  }
  .md\:pt-2 {
    padding-top: 8px;
    padding-top: var(--spc-s);
  }
  .md\:pt-3 {
    padding-top: 16px;
    padding-top: var(--spc-m);
  }
  .md\:pt-4 {
    padding-top: 32px;
    padding-top: var(--spc-l);
  }
  .md\:pt-5 {
    padding-top: 64px;
    padding-top: var(--spc-xl);
  }
  .md\:pt-6 {
    padding-top: 128px;
    padding-top: var(--spc-xxl);
  }
  .md\:pt-7 {
    padding-top: 192px;
    padding-top: var(--spc-xxxl);
  }
  .md\:pr-1 {
    padding-right: 4px;
    padding-right: var(--spc-xs);
  }
  .md\:pr-2 {
    padding-right: 8px;
    padding-right: var(--spc-s);
  }
  .md\:pr-3 {
    padding-right: 16px;
    padding-right: var(--spc-m);
  }
  .md\:pr-4 {
    padding-right: 32px;
    padding-right: var(--spc-l);
  }
  .md\:pr-5 {
    padding-right: 64px;
    padding-right: var(--spc-xl);
  }
  .md\:pr-6 {
    padding-right: 128px;
    padding-right: var(--spc-xxl);
  }
  .md\:pr-7 {
    padding-right: 192px;
    padding-right: var(--spc-xxxl);
  }
  .md\:pb-1 {
    padding-bottom: 4px;
    padding-bottom: var(--spc-xs);
  }
  .md\:pb-2 {
    padding-bottom: 8px;
    padding-bottom: var(--spc-s);
  }
  .md\:pb-3 {
    padding-bottom: 16px;
    padding-bottom: var(--spc-m);
  }
  .md\:pb-4 {
    padding-bottom: 32px;
    padding-bottom: var(--spc-l);
  }
  .md\:pb-5 {
    padding-bottom: 64px;
    padding-bottom: var(--spc-xl);
  }
  .md\:pb-6 {
    padding-bottom: 128px;
    padding-bottom: var(--spc-xxl);
  }
  .md\:pb-7 {
    padding-bottom: 192px;
    padding-bottom: var(--spc-xxxl);
  }
  .md\:pl-1 {
    padding-left: 4px;
    padding-left: var(--spc-xs);
  }
  .md\:pl-2 {
    padding-left: 8px;
    padding-left: var(--spc-s);
  }
  .md\:pl-3 {
    padding-left: 16px;
    padding-left: var(--spc-m);
  }
  .md\:pl-4 {
    padding-left: 32px;
    padding-left: var(--spc-l);
  }
  .md\:pl-5 {
    padding-left: 64px;
    padding-left: var(--spc-xl);
  }
  .md\:pl-6 {
    padding-left: 128px;
    padding-left: var(--spc-xxl);
  }
  .md\:pl-7 {
    padding-left: 192px;
    padding-left: var(--spc-xxxl);
  }
  .md\:px-1 {
    padding-left: 4px;
    padding-left: var(--spc-xs);
    padding-right: 4px;
    padding-right: var(--spc-xs);
  }
  .md\:px-2 {
    padding-left: 8px;
    padding-left: var(--spc-s);
    padding-right: 8px;
    padding-right: var(--spc-s);
  }
  .md\:px-3 {
    padding-left: 16px;
    padding-left: var(--spc-m);
    padding-right: 16px;
    padding-right: var(--spc-m);
  }
  .md\:px-4 {
    padding-left: 32px;
    padding-left: var(--spc-l);
    padding-right: 32px;
    padding-right: var(--spc-l);
  }
  .md\:px-5 {
    padding-left: 64px;
    padding-left: var(--spc-xl);
    padding-right: 64px;
    padding-right: var(--spc-xl);
  }
  .md\:px-6 {
    padding-left: 128px;
    padding-left: var(--spc-xxl);
    padding-right: 128px;
    padding-right: var(--spc-xxl);
  }
  .md\:px-7 {
    padding-left: 192px;
    padding-left: var(--spc-xxxl);
    padding-right: 192px;
    padding-right: var(--spc-xxxl);
  }
  .md\:py-1 {
    padding-top: 4px;
    padding-top: var(--spc-xs);
    padding-bottom: 4px;
    padding-bottom: var(--spc-xs);
  }
  .md\:py-2 {
    padding-top: 8px;
    padding-top: var(--spc-s);
    padding-bottom: 8px;
    padding-bottom: var(--spc-s);
  }
  .md\:py-3 {
    padding-top: 16px;
    padding-top: var(--spc-m);
    padding-bottom: 16px;
    padding-bottom: var(--spc-m);
  }
  .md\:py-4 {
    padding-top: 32px;
    padding-top: var(--spc-l);
    padding-bottom: 32px;
    padding-bottom: var(--spc-l);
  }
  .md\:py-5 {
    padding-top: 64px;
    padding-top: var(--spc-xl);
    padding-bottom: 64px;
    padding-bottom: var(--spc-xl);
  }
  .md\:py-6 {
    padding-top: 128px;
    padding-top: var(--spc-xxl);
    padding-bottom: 128px;
    padding-bottom: var(--spc-xxl);
  }
  .md\:py-7 {
    padding-top: 192px;
    padding-top: var(--spc-xxxl);
    padding-bottom: 192px;
    padding-bottom: var(--spc-xxxl);
  }
  .md\:w-screen {
    width: 100vw;
  }
  .md\:w-full {
    width: 100%;
  }
  .md\:w-1\/12 {
    width: 8.33333%;
  }
  .md\:w-2\/12 {
    width: 16.66667%;
  }
  .md\:w-3\/12 {
    width: 25%;
  }
  .md\:w-4\/12 {
    width: 33.33333%;
  }
  .md\:w-5\/12 {
    width: 41.66667%;
  }
  .md\:w-6\/12 {
    width: 50%;
  }
  .md\:w-7\/12 {
    width: 58.33333%;
  }
  .md\:w-8\/12 {
    width: 66.66667%;
  }
  .md\:w-9\/12 {
    width: 75%;
  }
  .md\:w-10\/12 {
    width: 83.33333%;
  }
  .md\:w-11\/12 {
    width: 91.66667%;
  }
  .md\:w-12\/12 {
    width: 100%;
  }
}
@media (min-width: 960px) {
  .l\:text-1 {
    color: var(--gray-01);
  }
  .l\:text-2 {
    color: var(--gray-02);
  }
  .l\:text-3 {
    color: var(--gray-03);
  }
  .l\:bg-1 {
    background-color: #101010;
    background-color: var(--color-gray-01);
  }
  .l\:bg-2 {
    background-color: #bdbdbd;
    background-color: var(--color-gray-02);
  }
  .l\:bg-3 {
    background-color: #757575;
    background-color: var(--color-gray-03);
  }
  .l\:m-1 {
    margin: 4px;
    margin: var(--spc-xs);
  }
  .l\:m-2 {
    margin: 8px;
    margin: var(--spc-s);
  }
  .l\:m-3 {
    margin: 16px;
    margin: var(--spc-m);
  }
  .l\:m-4 {
    margin: 32px;
    margin: var(--spc-l);
  }
  .l\:m-5 {
    margin: 64px;
    margin: var(--spc-xl);
  }
  .l\:m-6 {
    margin: 128px;
    margin: var(--spc-xxl);
  }
  .l\:m-7 {
    margin: 192px;
    margin: var(--spc-xxxl);
  }
  .l\:mt-1 {
    margin-top: 4px;
    margin-top: var(--spc-xs);
  }
  .l\:mt-2 {
    margin-top: 8px;
    margin-top: var(--spc-s);
  }
  .l\:mt-3 {
    margin-top: 16px;
    margin-top: var(--spc-m);
  }
  .l\:mt-4 {
    margin-top: 32px;
    margin-top: var(--spc-l);
  }
  .l\:mt-5 {
    margin-top: 64px;
    margin-top: var(--spc-xl);
  }
  .l\:mt-6 {
    margin-top: 128px;
    margin-top: var(--spc-xxl);
  }
  .l\:mt-7 {
    margin-top: 192px;
    margin-top: var(--spc-xxxl);
  }
  .l\:mr-1 {
    margin-right: 4px;
    margin-right: var(--spc-xs);
  }
  .l\:mr-2 {
    margin-right: 8px;
    margin-right: var(--spc-s);
  }
  .l\:mr-3 {
    margin-right: 16px;
    margin-right: var(--spc-m);
  }
  .l\:mr-4 {
    margin-right: 32px;
    margin-right: var(--spc-l);
  }
  .l\:mr-5 {
    margin-right: 64px;
    margin-right: var(--spc-xl);
  }
  .l\:mr-6 {
    margin-right: 128px;
    margin-right: var(--spc-xxl);
  }
  .l\:mr-7 {
    margin-right: 192px;
    margin-right: var(--spc-xxxl);
  }
  .l\:mb-1 {
    margin-bottom: 4px;
    margin-bottom: var(--spc-xs);
  }
  .l\:mb-2 {
    margin-bottom: 8px;
    margin-bottom: var(--spc-s);
  }
  .l\:mb-3 {
    margin-bottom: 16px;
    margin-bottom: var(--spc-m);
  }
  .l\:mb-4 {
    margin-bottom: 32px;
    margin-bottom: var(--spc-l);
  }
  .l\:mb-5 {
    margin-bottom: 64px;
    margin-bottom: var(--spc-xl);
  }
  .l\:mb-6 {
    margin-bottom: 128px;
    margin-bottom: var(--spc-xxl);
  }
  .l\:mb-7 {
    margin-bottom: 192px;
    margin-bottom: var(--spc-xxxl);
  }
  .l\:ml-1 {
    margin-left: 4px;
    margin-left: var(--spc-xs);
  }
  .l\:ml-2 {
    margin-left: 8px;
    margin-left: var(--spc-s);
  }
  .l\:ml-3 {
    margin-left: 16px;
    margin-left: var(--spc-m);
  }
  .l\:ml-4 {
    margin-left: 32px;
    margin-left: var(--spc-l);
  }
  .l\:ml-5 {
    margin-left: 64px;
    margin-left: var(--spc-xl);
  }
  .l\:ml-6 {
    margin-left: 128px;
    margin-left: var(--spc-xxl);
  }
  .l\:ml-7 {
    margin-left: 192px;
    margin-left: var(--spc-xxxl);
  }
  .l\:mx-1 {
    margin-left: 4px;
    margin-left: var(--spc-xs);
    margin-right: 4px;
    margin-right: var(--spc-xs);
  }
  .l\:mx-2 {
    margin-left: 8px;
    margin-left: var(--spc-s);
    margin-right: 8px;
    margin-right: var(--spc-s);
  }
  .l\:mx-3 {
    margin-left: 16px;
    margin-left: var(--spc-m);
    margin-right: 16px;
    margin-right: var(--spc-m);
  }
  .l\:mx-4 {
    margin-left: 32px;
    margin-left: var(--spc-l);
    margin-right: 32px;
    margin-right: var(--spc-l);
  }
  .l\:mx-5 {
    margin-left: 64px;
    margin-left: var(--spc-xl);
    margin-right: 64px;
    margin-right: var(--spc-xl);
  }
  .l\:mx-6 {
    margin-left: 128px;
    margin-left: var(--spc-xxl);
    margin-right: 128px;
    margin-right: var(--spc-xxl);
  }
  .l\:mx-7 {
    margin-left: 192px;
    margin-left: var(--spc-xxxl);
    margin-right: 192px;
    margin-right: var(--spc-xxxl);
  }
  .l\:my-1 {
    margin-top: 4px;
    margin-top: var(--spc-xs);
    margin-bottom: 4px;
    margin-bottom: var(--spc-xs);
  }
  .l\:my-2 {
    margin-top: 8px;
    margin-top: var(--spc-s);
    margin-bottom: 8px;
    margin-bottom: var(--spc-s);
  }
  .l\:my-3 {
    margin-top: 16px;
    margin-top: var(--spc-m);
    margin-bottom: 16px;
    margin-bottom: var(--spc-m);
  }
  .l\:my-4 {
    margin-top: 32px;
    margin-top: var(--spc-l);
    margin-bottom: 32px;
    margin-bottom: var(--spc-l);
  }
  .l\:my-5 {
    margin-top: 64px;
    margin-top: var(--spc-xl);
    margin-bottom: 64px;
    margin-bottom: var(--spc-xl);
  }
  .l\:my-6 {
    margin-top: 128px;
    margin-top: var(--spc-xxl);
    margin-bottom: 128px;
    margin-bottom: var(--spc-xxl);
  }
  .l\:my-7 {
    margin-top: 192px;
    margin-top: var(--spc-xxxl);
    margin-bottom: 192px;
    margin-bottom: var(--spc-xxxl);
  }
  .l\:p-1 {
    padding: 4px;
    padding: var(--spc-xs);
  }
  .l\:p-2 {
    padding: 8px;
    padding: var(--spc-s);
  }
  .l\:p-3 {
    padding: 16px;
    padding: var(--spc-m);
  }
  .l\:p-4 {
    padding: 32px;
    padding: var(--spc-l);
  }
  .l\:p-5 {
    padding: 64px;
    padding: var(--spc-xl);
  }
  .l\:p-6 {
    padding: 128px;
    padding: var(--spc-xxl);
  }
  .l\:p-7 {
    padding: 192px;
    padding: var(--spc-xxxl);
  }
  .l\:pt-1 {
    padding-top: 4px;
    padding-top: var(--spc-xs);
  }
  .l\:pt-2 {
    padding-top: 8px;
    padding-top: var(--spc-s);
  }
  .l\:pt-3 {
    padding-top: 16px;
    padding-top: var(--spc-m);
  }
  .l\:pt-4 {
    padding-top: 32px;
    padding-top: var(--spc-l);
  }
  .l\:pt-5 {
    padding-top: 64px;
    padding-top: var(--spc-xl);
  }
  .l\:pt-6 {
    padding-top: 128px;
    padding-top: var(--spc-xxl);
  }
  .l\:pt-7 {
    padding-top: 192px;
    padding-top: var(--spc-xxxl);
  }
  .l\:pr-1 {
    padding-right: 4px;
    padding-right: var(--spc-xs);
  }
  .l\:pr-2 {
    padding-right: 8px;
    padding-right: var(--spc-s);
  }
  .l\:pr-3 {
    padding-right: 16px;
    padding-right: var(--spc-m);
  }
  .l\:pr-4 {
    padding-right: 32px;
    padding-right: var(--spc-l);
  }
  .l\:pr-5 {
    padding-right: 64px;
    padding-right: var(--spc-xl);
  }
  .l\:pr-6 {
    padding-right: 128px;
    padding-right: var(--spc-xxl);
  }
  .l\:pr-7 {
    padding-right: 192px;
    padding-right: var(--spc-xxxl);
  }
  .l\:pb-1 {
    padding-bottom: 4px;
    padding-bottom: var(--spc-xs);
  }
  .l\:pb-2 {
    padding-bottom: 8px;
    padding-bottom: var(--spc-s);
  }
  .l\:pb-3 {
    padding-bottom: 16px;
    padding-bottom: var(--spc-m);
  }
  .l\:pb-4 {
    padding-bottom: 32px;
    padding-bottom: var(--spc-l);
  }
  .l\:pb-5 {
    padding-bottom: 64px;
    padding-bottom: var(--spc-xl);
  }
  .l\:pb-6 {
    padding-bottom: 128px;
    padding-bottom: var(--spc-xxl);
  }
  .l\:pb-7 {
    padding-bottom: 192px;
    padding-bottom: var(--spc-xxxl);
  }
  .l\:pl-1 {
    padding-left: 4px;
    padding-left: var(--spc-xs);
  }
  .l\:pl-2 {
    padding-left: 8px;
    padding-left: var(--spc-s);
  }
  .l\:pl-3 {
    padding-left: 16px;
    padding-left: var(--spc-m);
  }
  .l\:pl-4 {
    padding-left: 32px;
    padding-left: var(--spc-l);
  }
  .l\:pl-5 {
    padding-left: 64px;
    padding-left: var(--spc-xl);
  }
  .l\:pl-6 {
    padding-left: 128px;
    padding-left: var(--spc-xxl);
  }
  .l\:pl-7 {
    padding-left: 192px;
    padding-left: var(--spc-xxxl);
  }
  .l\:px-1 {
    padding-left: 4px;
    padding-left: var(--spc-xs);
    padding-right: 4px;
    padding-right: var(--spc-xs);
  }
  .l\:px-2 {
    padding-left: 8px;
    padding-left: var(--spc-s);
    padding-right: 8px;
    padding-right: var(--spc-s);
  }
  .l\:px-3 {
    padding-left: 16px;
    padding-left: var(--spc-m);
    padding-right: 16px;
    padding-right: var(--spc-m);
  }
  .l\:px-4 {
    padding-left: 32px;
    padding-left: var(--spc-l);
    padding-right: 32px;
    padding-right: var(--spc-l);
  }
  .l\:px-5 {
    padding-left: 64px;
    padding-left: var(--spc-xl);
    padding-right: 64px;
    padding-right: var(--spc-xl);
  }
  .l\:px-6 {
    padding-left: 128px;
    padding-left: var(--spc-xxl);
    padding-right: 128px;
    padding-right: var(--spc-xxl);
  }
  .l\:px-7 {
    padding-left: 192px;
    padding-left: var(--spc-xxxl);
    padding-right: 192px;
    padding-right: var(--spc-xxxl);
  }
  .l\:py-1 {
    padding-top: 4px;
    padding-top: var(--spc-xs);
    padding-bottom: 4px;
    padding-bottom: var(--spc-xs);
  }
  .l\:py-2 {
    padding-top: 8px;
    padding-top: var(--spc-s);
    padding-bottom: 8px;
    padding-bottom: var(--spc-s);
  }
  .l\:py-3 {
    padding-top: 16px;
    padding-top: var(--spc-m);
    padding-bottom: 16px;
    padding-bottom: var(--spc-m);
  }
  .l\:py-4 {
    padding-top: 32px;
    padding-top: var(--spc-l);
    padding-bottom: 32px;
    padding-bottom: var(--spc-l);
  }
  .l\:py-5 {
    padding-top: 64px;
    padding-top: var(--spc-xl);
    padding-bottom: 64px;
    padding-bottom: var(--spc-xl);
  }
  .l\:py-6 {
    padding-top: 128px;
    padding-top: var(--spc-xxl);
    padding-bottom: 128px;
    padding-bottom: var(--spc-xxl);
  }
  .l\:py-7 {
    padding-top: 192px;
    padding-top: var(--spc-xxxl);
    padding-bottom: 192px;
    padding-bottom: var(--spc-xxxl);
  }
  .l\:w-screen {
    width: 100vw;
  }
  .l\:w-full {
    width: 100%;
  }
  .l\:w-1\/12 {
    width: 8.33333%;
  }
  .l\:w-2\/12 {
    width: 16.66667%;
  }
  .l\:w-3\/12 {
    width: 25%;
  }
  .l\:w-4\/12 {
    width: 33.33333%;
  }
  .l\:w-5\/12 {
    width: 41.66667%;
  }
  .l\:w-6\/12 {
    width: 50%;
  }
  .l\:w-7\/12 {
    width: 58.33333%;
  }
  .l\:w-8\/12 {
    width: 66.66667%;
  }
  .l\:w-9\/12 {
    width: 75%;
  }
  .l\:w-10\/12 {
    width: 83.33333%;
  }
  .l\:w-11\/12 {
    width: 91.66667%;
  }
  .l\:w-12\/12 {
    width: 100%;
  }
}
@media (min-width: 1152px) {
  .xl\:text-1 {
    color: var(--gray-01);
  }
  .xl\:text-2 {
    color: var(--gray-02);
  }
  .xl\:text-3 {
    color: var(--gray-03);
  }
  .xl\:bg-1 {
    background-color: #101010;
    background-color: var(--color-gray-01);
  }
  .xl\:bg-2 {
    background-color: #bdbdbd;
    background-color: var(--color-gray-02);
  }
  .xl\:bg-3 {
    background-color: #757575;
    background-color: var(--color-gray-03);
  }
  .xl\:m-1 {
    margin: 4px;
    margin: var(--spc-xs);
  }
  .xl\:m-2 {
    margin: 8px;
    margin: var(--spc-s);
  }
  .xl\:m-3 {
    margin: 16px;
    margin: var(--spc-m);
  }
  .xl\:m-4 {
    margin: 32px;
    margin: var(--spc-l);
  }
  .xl\:m-5 {
    margin: 64px;
    margin: var(--spc-xl);
  }
  .xl\:m-6 {
    margin: 128px;
    margin: var(--spc-xxl);
  }
  .xl\:m-7 {
    margin: 192px;
    margin: var(--spc-xxxl);
  }
  .xl\:mt-1 {
    margin-top: 4px;
    margin-top: var(--spc-xs);
  }
  .xl\:mt-2 {
    margin-top: 8px;
    margin-top: var(--spc-s);
  }
  .xl\:mt-3 {
    margin-top: 16px;
    margin-top: var(--spc-m);
  }
  .xl\:mt-4 {
    margin-top: 32px;
    margin-top: var(--spc-l);
  }
  .xl\:mt-5 {
    margin-top: 64px;
    margin-top: var(--spc-xl);
  }
  .xl\:mt-6 {
    margin-top: 128px;
    margin-top: var(--spc-xxl);
  }
  .xl\:mt-7 {
    margin-top: 192px;
    margin-top: var(--spc-xxxl);
  }
  .xl\:mr-1 {
    margin-right: 4px;
    margin-right: var(--spc-xs);
  }
  .xl\:mr-2 {
    margin-right: 8px;
    margin-right: var(--spc-s);
  }
  .xl\:mr-3 {
    margin-right: 16px;
    margin-right: var(--spc-m);
  }
  .xl\:mr-4 {
    margin-right: 32px;
    margin-right: var(--spc-l);
  }
  .xl\:mr-5 {
    margin-right: 64px;
    margin-right: var(--spc-xl);
  }
  .xl\:mr-6 {
    margin-right: 128px;
    margin-right: var(--spc-xxl);
  }
  .xl\:mr-7 {
    margin-right: 192px;
    margin-right: var(--spc-xxxl);
  }
  .xl\:mb-1 {
    margin-bottom: 4px;
    margin-bottom: var(--spc-xs);
  }
  .xl\:mb-2 {
    margin-bottom: 8px;
    margin-bottom: var(--spc-s);
  }
  .xl\:mb-3 {
    margin-bottom: 16px;
    margin-bottom: var(--spc-m);
  }
  .xl\:mb-4 {
    margin-bottom: 32px;
    margin-bottom: var(--spc-l);
  }
  .xl\:mb-5 {
    margin-bottom: 64px;
    margin-bottom: var(--spc-xl);
  }
  .xl\:mb-6 {
    margin-bottom: 128px;
    margin-bottom: var(--spc-xxl);
  }
  .xl\:mb-7 {
    margin-bottom: 192px;
    margin-bottom: var(--spc-xxxl);
  }
  .xl\:ml-1 {
    margin-left: 4px;
    margin-left: var(--spc-xs);
  }
  .xl\:ml-2 {
    margin-left: 8px;
    margin-left: var(--spc-s);
  }
  .xl\:ml-3 {
    margin-left: 16px;
    margin-left: var(--spc-m);
  }
  .xl\:ml-4 {
    margin-left: 32px;
    margin-left: var(--spc-l);
  }
  .xl\:ml-5 {
    margin-left: 64px;
    margin-left: var(--spc-xl);
  }
  .xl\:ml-6 {
    margin-left: 128px;
    margin-left: var(--spc-xxl);
  }
  .xl\:ml-7 {
    margin-left: 192px;
    margin-left: var(--spc-xxxl);
  }
  .xl\:mx-1 {
    margin-left: 4px;
    margin-left: var(--spc-xs);
    margin-right: 4px;
    margin-right: var(--spc-xs);
  }
  .xl\:mx-2 {
    margin-left: 8px;
    margin-left: var(--spc-s);
    margin-right: 8px;
    margin-right: var(--spc-s);
  }
  .xl\:mx-3 {
    margin-left: 16px;
    margin-left: var(--spc-m);
    margin-right: 16px;
    margin-right: var(--spc-m);
  }
  .xl\:mx-4 {
    margin-left: 32px;
    margin-left: var(--spc-l);
    margin-right: 32px;
    margin-right: var(--spc-l);
  }
  .xl\:mx-5 {
    margin-left: 64px;
    margin-left: var(--spc-xl);
    margin-right: 64px;
    margin-right: var(--spc-xl);
  }
  .xl\:mx-6 {
    margin-left: 128px;
    margin-left: var(--spc-xxl);
    margin-right: 128px;
    margin-right: var(--spc-xxl);
  }
  .xl\:mx-7 {
    margin-left: 192px;
    margin-left: var(--spc-xxxl);
    margin-right: 192px;
    margin-right: var(--spc-xxxl);
  }
  .xl\:my-1 {
    margin-top: 4px;
    margin-top: var(--spc-xs);
    margin-bottom: 4px;
    margin-bottom: var(--spc-xs);
  }
  .xl\:my-2 {
    margin-top: 8px;
    margin-top: var(--spc-s);
    margin-bottom: 8px;
    margin-bottom: var(--spc-s);
  }
  .xl\:my-3 {
    margin-top: 16px;
    margin-top: var(--spc-m);
    margin-bottom: 16px;
    margin-bottom: var(--spc-m);
  }
  .xl\:my-4 {
    margin-top: 32px;
    margin-top: var(--spc-l);
    margin-bottom: 32px;
    margin-bottom: var(--spc-l);
  }
  .xl\:my-5 {
    margin-top: 64px;
    margin-top: var(--spc-xl);
    margin-bottom: 64px;
    margin-bottom: var(--spc-xl);
  }
  .xl\:my-6 {
    margin-top: 128px;
    margin-top: var(--spc-xxl);
    margin-bottom: 128px;
    margin-bottom: var(--spc-xxl);
  }
  .xl\:my-7 {
    margin-top: 192px;
    margin-top: var(--spc-xxxl);
    margin-bottom: 192px;
    margin-bottom: var(--spc-xxxl);
  }
  .xl\:p-1 {
    padding: 4px;
    padding: var(--spc-xs);
  }
  .xl\:p-2 {
    padding: 8px;
    padding: var(--spc-s);
  }
  .xl\:p-3 {
    padding: 16px;
    padding: var(--spc-m);
  }
  .xl\:p-4 {
    padding: 32px;
    padding: var(--spc-l);
  }
  .xl\:p-5 {
    padding: 64px;
    padding: var(--spc-xl);
  }
  .xl\:p-6 {
    padding: 128px;
    padding: var(--spc-xxl);
  }
  .xl\:p-7 {
    padding: 192px;
    padding: var(--spc-xxxl);
  }
  .xl\:pt-1 {
    padding-top: 4px;
    padding-top: var(--spc-xs);
  }
  .xl\:pt-2 {
    padding-top: 8px;
    padding-top: var(--spc-s);
  }
  .xl\:pt-3 {
    padding-top: 16px;
    padding-top: var(--spc-m);
  }
  .xl\:pt-4 {
    padding-top: 32px;
    padding-top: var(--spc-l);
  }
  .xl\:pt-5 {
    padding-top: 64px;
    padding-top: var(--spc-xl);
  }
  .xl\:pt-6 {
    padding-top: 128px;
    padding-top: var(--spc-xxl);
  }
  .xl\:pt-7 {
    padding-top: 192px;
    padding-top: var(--spc-xxxl);
  }
  .xl\:pr-1 {
    padding-right: 4px;
    padding-right: var(--spc-xs);
  }
  .xl\:pr-2 {
    padding-right: 8px;
    padding-right: var(--spc-s);
  }
  .xl\:pr-3 {
    padding-right: 16px;
    padding-right: var(--spc-m);
  }
  .xl\:pr-4 {
    padding-right: 32px;
    padding-right: var(--spc-l);
  }
  .xl\:pr-5 {
    padding-right: 64px;
    padding-right: var(--spc-xl);
  }
  .xl\:pr-6 {
    padding-right: 128px;
    padding-right: var(--spc-xxl);
  }
  .xl\:pr-7 {
    padding-right: 192px;
    padding-right: var(--spc-xxxl);
  }
  .xl\:pb-1 {
    padding-bottom: 4px;
    padding-bottom: var(--spc-xs);
  }
  .xl\:pb-2 {
    padding-bottom: 8px;
    padding-bottom: var(--spc-s);
  }
  .xl\:pb-3 {
    padding-bottom: 16px;
    padding-bottom: var(--spc-m);
  }
  .xl\:pb-4 {
    padding-bottom: 32px;
    padding-bottom: var(--spc-l);
  }
  .xl\:pb-5 {
    padding-bottom: 64px;
    padding-bottom: var(--spc-xl);
  }
  .xl\:pb-6 {
    padding-bottom: 128px;
    padding-bottom: var(--spc-xxl);
  }
  .xl\:pb-7 {
    padding-bottom: 192px;
    padding-bottom: var(--spc-xxxl);
  }
  .xl\:pl-1 {
    padding-left: 4px;
    padding-left: var(--spc-xs);
  }
  .xl\:pl-2 {
    padding-left: 8px;
    padding-left: var(--spc-s);
  }
  .xl\:pl-3 {
    padding-left: 16px;
    padding-left: var(--spc-m);
  }
  .xl\:pl-4 {
    padding-left: 32px;
    padding-left: var(--spc-l);
  }
  .xl\:pl-5 {
    padding-left: 64px;
    padding-left: var(--spc-xl);
  }
  .xl\:pl-6 {
    padding-left: 128px;
    padding-left: var(--spc-xxl);
  }
  .xl\:pl-7 {
    padding-left: 192px;
    padding-left: var(--spc-xxxl);
  }
  .xl\:px-1 {
    padding-left: 4px;
    padding-left: var(--spc-xs);
    padding-right: 4px;
    padding-right: var(--spc-xs);
  }
  .xl\:px-2 {
    padding-left: 8px;
    padding-left: var(--spc-s);
    padding-right: 8px;
    padding-right: var(--spc-s);
  }
  .xl\:px-3 {
    padding-left: 16px;
    padding-left: var(--spc-m);
    padding-right: 16px;
    padding-right: var(--spc-m);
  }
  .xl\:px-4 {
    padding-left: 32px;
    padding-left: var(--spc-l);
    padding-right: 32px;
    padding-right: var(--spc-l);
  }
  .xl\:px-5 {
    padding-left: 64px;
    padding-left: var(--spc-xl);
    padding-right: 64px;
    padding-right: var(--spc-xl);
  }
  .xl\:px-6 {
    padding-left: 128px;
    padding-left: var(--spc-xxl);
    padding-right: 128px;
    padding-right: var(--spc-xxl);
  }
  .xl\:px-7 {
    padding-left: 192px;
    padding-left: var(--spc-xxxl);
    padding-right: 192px;
    padding-right: var(--spc-xxxl);
  }
  .xl\:py-1 {
    padding-top: 4px;
    padding-top: var(--spc-xs);
    padding-bottom: 4px;
    padding-bottom: var(--spc-xs);
  }
  .xl\:py-2 {
    padding-top: 8px;
    padding-top: var(--spc-s);
    padding-bottom: 8px;
    padding-bottom: var(--spc-s);
  }
  .xl\:py-3 {
    padding-top: 16px;
    padding-top: var(--spc-m);
    padding-bottom: 16px;
    padding-bottom: var(--spc-m);
  }
  .xl\:py-4 {
    padding-top: 32px;
    padding-top: var(--spc-l);
    padding-bottom: 32px;
    padding-bottom: var(--spc-l);
  }
  .xl\:py-5 {
    padding-top: 64px;
    padding-top: var(--spc-xl);
    padding-bottom: 64px;
    padding-bottom: var(--spc-xl);
  }
  .xl\:py-6 {
    padding-top: 128px;
    padding-top: var(--spc-xxl);
    padding-bottom: 128px;
    padding-bottom: var(--spc-xxl);
  }
  .xl\:py-7 {
    padding-top: 192px;
    padding-top: var(--spc-xxxl);
    padding-bottom: 192px;
    padding-bottom: var(--spc-xxxl);
  }
  .xl\:w-screen {
    width: 100vw;
  }
  .xl\:w-full {
    width: 100%;
  }
  .xl\:w-1\/12 {
    width: 8.33333%;
  }
  .xl\:w-2\/12 {
    width: 16.66667%;
  }
  .xl\:w-3\/12 {
    width: 25%;
  }
  .xl\:w-4\/12 {
    width: 33.33333%;
  }
  .xl\:w-5\/12 {
    width: 41.66667%;
  }
  .xl\:w-6\/12 {
    width: 50%;
  }
  .xl\:w-7\/12 {
    width: 58.33333%;
  }
  .xl\:w-8\/12 {
    width: 66.66667%;
  }
  .xl\:w-9\/12 {
    width: 75%;
  }
  .xl\:w-10\/12 {
    width: 83.33333%;
  }
  .xl\:w-11\/12 {
    width: 91.66667%;
  }
  .xl\:w-12\/12 {
    width: 100%;
  }
}
@media (min-width: 1536px) {
  .xxl\:text-1 {
    color: var(--gray-01);
  }
  .xxl\:text-2 {
    color: var(--gray-02);
  }
  .xxl\:text-3 {
    color: var(--gray-03);
  }
  .xxl\:bg-1 {
    background-color: #101010;
    background-color: var(--color-gray-01);
  }
  .xxl\:bg-2 {
    background-color: #bdbdbd;
    background-color: var(--color-gray-02);
  }
  .xxl\:bg-3 {
    background-color: #757575;
    background-color: var(--color-gray-03);
  }
  .xxl\:m-1 {
    margin: 4px;
    margin: var(--spc-xs);
  }
  .xxl\:m-2 {
    margin: 8px;
    margin: var(--spc-s);
  }
  .xxl\:m-3 {
    margin: 16px;
    margin: var(--spc-m);
  }
  .xxl\:m-4 {
    margin: 32px;
    margin: var(--spc-l);
  }
  .xxl\:m-5 {
    margin: 64px;
    margin: var(--spc-xl);
  }
  .xxl\:m-6 {
    margin: 128px;
    margin: var(--spc-xxl);
  }
  .xxl\:m-7 {
    margin: 192px;
    margin: var(--spc-xxxl);
  }
  .xxl\:mt-1 {
    margin-top: 4px;
    margin-top: var(--spc-xs);
  }
  .xxl\:mt-2 {
    margin-top: 8px;
    margin-top: var(--spc-s);
  }
  .xxl\:mt-3 {
    margin-top: 16px;
    margin-top: var(--spc-m);
  }
  .xxl\:mt-4 {
    margin-top: 32px;
    margin-top: var(--spc-l);
  }
  .xxl\:mt-5 {
    margin-top: 64px;
    margin-top: var(--spc-xl);
  }
  .xxl\:mt-6 {
    margin-top: 128px;
    margin-top: var(--spc-xxl);
  }
  .xxl\:mt-7 {
    margin-top: 192px;
    margin-top: var(--spc-xxxl);
  }
  .xxl\:mr-1 {
    margin-right: 4px;
    margin-right: var(--spc-xs);
  }
  .xxl\:mr-2 {
    margin-right: 8px;
    margin-right: var(--spc-s);
  }
  .xxl\:mr-3 {
    margin-right: 16px;
    margin-right: var(--spc-m);
  }
  .xxl\:mr-4 {
    margin-right: 32px;
    margin-right: var(--spc-l);
  }
  .xxl\:mr-5 {
    margin-right: 64px;
    margin-right: var(--spc-xl);
  }
  .xxl\:mr-6 {
    margin-right: 128px;
    margin-right: var(--spc-xxl);
  }
  .xxl\:mr-7 {
    margin-right: 192px;
    margin-right: var(--spc-xxxl);
  }
  .xxl\:mb-1 {
    margin-bottom: 4px;
    margin-bottom: var(--spc-xs);
  }
  .xxl\:mb-2 {
    margin-bottom: 8px;
    margin-bottom: var(--spc-s);
  }
  .xxl\:mb-3 {
    margin-bottom: 16px;
    margin-bottom: var(--spc-m);
  }
  .xxl\:mb-4 {
    margin-bottom: 32px;
    margin-bottom: var(--spc-l);
  }
  .xxl\:mb-5 {
    margin-bottom: 64px;
    margin-bottom: var(--spc-xl);
  }
  .xxl\:mb-6 {
    margin-bottom: 128px;
    margin-bottom: var(--spc-xxl);
  }
  .xxl\:mb-7 {
    margin-bottom: 192px;
    margin-bottom: var(--spc-xxxl);
  }
  .xxl\:ml-1 {
    margin-left: 4px;
    margin-left: var(--spc-xs);
  }
  .xxl\:ml-2 {
    margin-left: 8px;
    margin-left: var(--spc-s);
  }
  .xxl\:ml-3 {
    margin-left: 16px;
    margin-left: var(--spc-m);
  }
  .xxl\:ml-4 {
    margin-left: 32px;
    margin-left: var(--spc-l);
  }
  .xxl\:ml-5 {
    margin-left: 64px;
    margin-left: var(--spc-xl);
  }
  .xxl\:ml-6 {
    margin-left: 128px;
    margin-left: var(--spc-xxl);
  }
  .xxl\:ml-7 {
    margin-left: 192px;
    margin-left: var(--spc-xxxl);
  }
  .xxl\:mx-1 {
    margin-left: 4px;
    margin-left: var(--spc-xs);
    margin-right: 4px;
    margin-right: var(--spc-xs);
  }
  .xxl\:mx-2 {
    margin-left: 8px;
    margin-left: var(--spc-s);
    margin-right: 8px;
    margin-right: var(--spc-s);
  }
  .xxl\:mx-3 {
    margin-left: 16px;
    margin-left: var(--spc-m);
    margin-right: 16px;
    margin-right: var(--spc-m);
  }
  .xxl\:mx-4 {
    margin-left: 32px;
    margin-left: var(--spc-l);
    margin-right: 32px;
    margin-right: var(--spc-l);
  }
  .xxl\:mx-5 {
    margin-left: 64px;
    margin-left: var(--spc-xl);
    margin-right: 64px;
    margin-right: var(--spc-xl);
  }
  .xxl\:mx-6 {
    margin-left: 128px;
    margin-left: var(--spc-xxl);
    margin-right: 128px;
    margin-right: var(--spc-xxl);
  }
  .xxl\:mx-7 {
    margin-left: 192px;
    margin-left: var(--spc-xxxl);
    margin-right: 192px;
    margin-right: var(--spc-xxxl);
  }
  .xxl\:my-1 {
    margin-top: 4px;
    margin-top: var(--spc-xs);
    margin-bottom: 4px;
    margin-bottom: var(--spc-xs);
  }
  .xxl\:my-2 {
    margin-top: 8px;
    margin-top: var(--spc-s);
    margin-bottom: 8px;
    margin-bottom: var(--spc-s);
  }
  .xxl\:my-3 {
    margin-top: 16px;
    margin-top: var(--spc-m);
    margin-bottom: 16px;
    margin-bottom: var(--spc-m);
  }
  .xxl\:my-4 {
    margin-top: 32px;
    margin-top: var(--spc-l);
    margin-bottom: 32px;
    margin-bottom: var(--spc-l);
  }
  .xxl\:my-5 {
    margin-top: 64px;
    margin-top: var(--spc-xl);
    margin-bottom: 64px;
    margin-bottom: var(--spc-xl);
  }
  .xxl\:my-6 {
    margin-top: 128px;
    margin-top: var(--spc-xxl);
    margin-bottom: 128px;
    margin-bottom: var(--spc-xxl);
  }
  .xxl\:my-7 {
    margin-top: 192px;
    margin-top: var(--spc-xxxl);
    margin-bottom: 192px;
    margin-bottom: var(--spc-xxxl);
  }
  .xxl\:p-1 {
    padding: 4px;
    padding: var(--spc-xs);
  }
  .xxl\:p-2 {
    padding: 8px;
    padding: var(--spc-s);
  }
  .xxl\:p-3 {
    padding: 16px;
    padding: var(--spc-m);
  }
  .xxl\:p-4 {
    padding: 32px;
    padding: var(--spc-l);
  }
  .xxl\:p-5 {
    padding: 64px;
    padding: var(--spc-xl);
  }
  .xxl\:p-6 {
    padding: 128px;
    padding: var(--spc-xxl);
  }
  .xxl\:p-7 {
    padding: 192px;
    padding: var(--spc-xxxl);
  }
  .xxl\:pt-1 {
    padding-top: 4px;
    padding-top: var(--spc-xs);
  }
  .xxl\:pt-2 {
    padding-top: 8px;
    padding-top: var(--spc-s);
  }
  .xxl\:pt-3 {
    padding-top: 16px;
    padding-top: var(--spc-m);
  }
  .xxl\:pt-4 {
    padding-top: 32px;
    padding-top: var(--spc-l);
  }
  .xxl\:pt-5 {
    padding-top: 64px;
    padding-top: var(--spc-xl);
  }
  .xxl\:pt-6 {
    padding-top: 128px;
    padding-top: var(--spc-xxl);
  }
  .xxl\:pt-7 {
    padding-top: 192px;
    padding-top: var(--spc-xxxl);
  }
  .xxl\:pr-1 {
    padding-right: 4px;
    padding-right: var(--spc-xs);
  }
  .xxl\:pr-2 {
    padding-right: 8px;
    padding-right: var(--spc-s);
  }
  .xxl\:pr-3 {
    padding-right: 16px;
    padding-right: var(--spc-m);
  }
  .xxl\:pr-4 {
    padding-right: 32px;
    padding-right: var(--spc-l);
  }
  .xxl\:pr-5 {
    padding-right: 64px;
    padding-right: var(--spc-xl);
  }
  .xxl\:pr-6 {
    padding-right: 128px;
    padding-right: var(--spc-xxl);
  }
  .xxl\:pr-7 {
    padding-right: 192px;
    padding-right: var(--spc-xxxl);
  }
  .xxl\:pb-1 {
    padding-bottom: 4px;
    padding-bottom: var(--spc-xs);
  }
  .xxl\:pb-2 {
    padding-bottom: 8px;
    padding-bottom: var(--spc-s);
  }
  .xxl\:pb-3 {
    padding-bottom: 16px;
    padding-bottom: var(--spc-m);
  }
  .xxl\:pb-4 {
    padding-bottom: 32px;
    padding-bottom: var(--spc-l);
  }
  .xxl\:pb-5 {
    padding-bottom: 64px;
    padding-bottom: var(--spc-xl);
  }
  .xxl\:pb-6 {
    padding-bottom: 128px;
    padding-bottom: var(--spc-xxl);
  }
  .xxl\:pb-7 {
    padding-bottom: 192px;
    padding-bottom: var(--spc-xxxl);
  }
  .xxl\:pl-1 {
    padding-left: 4px;
    padding-left: var(--spc-xs);
  }
  .xxl\:pl-2 {
    padding-left: 8px;
    padding-left: var(--spc-s);
  }
  .xxl\:pl-3 {
    padding-left: 16px;
    padding-left: var(--spc-m);
  }
  .xxl\:pl-4 {
    padding-left: 32px;
    padding-left: var(--spc-l);
  }
  .xxl\:pl-5 {
    padding-left: 64px;
    padding-left: var(--spc-xl);
  }
  .xxl\:pl-6 {
    padding-left: 128px;
    padding-left: var(--spc-xxl);
  }
  .xxl\:pl-7 {
    padding-left: 192px;
    padding-left: var(--spc-xxxl);
  }
  .xxl\:px-1 {
    padding-left: 4px;
    padding-left: var(--spc-xs);
    padding-right: 4px;
    padding-right: var(--spc-xs);
  }
  .xxl\:px-2 {
    padding-left: 8px;
    padding-left: var(--spc-s);
    padding-right: 8px;
    padding-right: var(--spc-s);
  }
  .xxl\:px-3 {
    padding-left: 16px;
    padding-left: var(--spc-m);
    padding-right: 16px;
    padding-right: var(--spc-m);
  }
  .xxl\:px-4 {
    padding-left: 32px;
    padding-left: var(--spc-l);
    padding-right: 32px;
    padding-right: var(--spc-l);
  }
  .xxl\:px-5 {
    padding-left: 64px;
    padding-left: var(--spc-xl);
    padding-right: 64px;
    padding-right: var(--spc-xl);
  }
  .xxl\:px-6 {
    padding-left: 128px;
    padding-left: var(--spc-xxl);
    padding-right: 128px;
    padding-right: var(--spc-xxl);
  }
  .xxl\:px-7 {
    padding-left: 192px;
    padding-left: var(--spc-xxxl);
    padding-right: 192px;
    padding-right: var(--spc-xxxl);
  }
  .xxl\:py-1 {
    padding-top: 4px;
    padding-top: var(--spc-xs);
    padding-bottom: 4px;
    padding-bottom: var(--spc-xs);
  }
  .xxl\:py-2 {
    padding-top: 8px;
    padding-top: var(--spc-s);
    padding-bottom: 8px;
    padding-bottom: var(--spc-s);
  }
  .xxl\:py-3 {
    padding-top: 16px;
    padding-top: var(--spc-m);
    padding-bottom: 16px;
    padding-bottom: var(--spc-m);
  }
  .xxl\:py-4 {
    padding-top: 32px;
    padding-top: var(--spc-l);
    padding-bottom: 32px;
    padding-bottom: var(--spc-l);
  }
  .xxl\:py-5 {
    padding-top: 64px;
    padding-top: var(--spc-xl);
    padding-bottom: 64px;
    padding-bottom: var(--spc-xl);
  }
  .xxl\:py-6 {
    padding-top: 128px;
    padding-top: var(--spc-xxl);
    padding-bottom: 128px;
    padding-bottom: var(--spc-xxl);
  }
  .xxl\:py-7 {
    padding-top: 192px;
    padding-top: var(--spc-xxxl);
    padding-bottom: 192px;
    padding-bottom: var(--spc-xxxl);
  }
  .xxl\:w-screen {
    width: 100vw;
  }
  .xxl\:w-full {
    width: 100%;
  }
  .xxl\:w-1\/12 {
    width: 8.33333%;
  }
  .xxl\:w-2\/12 {
    width: 16.66667%;
  }
  .xxl\:w-3\/12 {
    width: 25%;
  }
  .xxl\:w-4\/12 {
    width: 33.33333%;
  }
  .xxl\:w-5\/12 {
    width: 41.66667%;
  }
  .xxl\:w-6\/12 {
    width: 50%;
  }
  .xxl\:w-7\/12 {
    width: 58.33333%;
  }
  .xxl\:w-8\/12 {
    width: 66.66667%;
  }
  .xxl\:w-9\/12 {
    width: 75%;
  }
  .xxl\:w-10\/12 {
    width: 83.33333%;
  }
  .xxl\:w-11\/12 {
    width: 91.66667%;
  }
  .xxl\:w-12\/12 {
    width: 100%;
  }
}

