:root {
  /* colors */
  --color-white: #ffffff;
  --color-black: #101010;
  --color-brand-01: #101010;
  --color-brand-02: #bea382;
  --color-gray-01: #101010;
  --color-gray-02: #757575;
  --color-gray-03: #999999;
  --color-gray-04: #f4f4f4;
  /* spacing */
  --spc-xs: 4px;
  --spc-sm: 8px;
  --spc-md: 16px;
  --spc-lg: 32px;
  --spc-xl: 64px;
  --spc-2xl: 128px;
  --spc-3xl: 192px;
}

[data-theme-dark] {
  /* colors */
  --color-white: #ffffff;
  --color-black: #101010;
  --color-brand-01: #101010;
  --color-brand-02: #bea382;
  --color-gray-01: #101010;
  --color-gray-02: #757575;
  --color-gray-03: #999999;
  --color-gray-04: #f4f4f4;
  /* spacing */
  --spc-xs: 4px;
  --spc-sm: 8px;
  --spc-md: 16px;
  --spc-lg: 32px;
  --spc-xl: 64px;
  --spc-2xl: 128px;
  --spc-3xl: 192px;
}

.text-01 {
  color: var(--color-gray-01);
}

@media (min-width: 720px) {
  .tablet\:text-01 {
    color: var(--color-gray-01);
  }
}
@media (min-width: 960px) {
  .desktop\:text-01 {
    color: var(--color-gray-01);
  }
}
@media (min-width: 1152px) {
  .big-screen\:text-01 {
    color: var(--color-gray-01);
  }
}
.text-02 {
  color: var(--color-gray-02);
}

@media (min-width: 720px) {
  .tablet\:text-02 {
    color: var(--color-gray-02);
  }
}
@media (min-width: 960px) {
  .desktop\:text-02 {
    color: var(--color-gray-02);
  }
}
@media (min-width: 1152px) {
  .big-screen\:text-02 {
    color: var(--color-gray-02);
  }
}
.text-03 {
  color: var(--color-gray-03);
}

@media (min-width: 720px) {
  .tablet\:text-03 {
    color: var(--color-gray-03);
  }
}
@media (min-width: 960px) {
  .desktop\:text-03 {
    color: var(--color-gray-03);
  }
}
@media (min-width: 1152px) {
  .big-screen\:text-03 {
    color: var(--color-gray-03);
  }
}
.text-04 {
  color: var(--color-gray-04);
}

@media (min-width: 720px) {
  .tablet\:text-04 {
    color: var(--color-gray-04);
  }
}
@media (min-width: 960px) {
  .desktop\:text-04 {
    color: var(--color-gray-04);
  }
}
@media (min-width: 1152px) {
  .big-screen\:text-04 {
    color: var(--color-gray-04);
  }
}
.bg-01 {
  background-color: var(--color-gray-04);
}

@media (min-width: 720px) {
  .tablet\:bg-01 {
    background-color: var(--color-gray-04);
  }
}
@media (min-width: 960px) {
  .desktop\:bg-01 {
    background-color: var(--color-gray-04);
  }
}
@media (min-width: 1152px) {
  .big-screen\:bg-01 {
    background-color: var(--color-gray-04);
  }
}
.bg-02 {
  background-color: var(--color-gray-03);
}

@media (min-width: 720px) {
  .tablet\:bg-02 {
    background-color: var(--color-gray-03);
  }
}
@media (min-width: 960px) {
  .desktop\:bg-02 {
    background-color: var(--color-gray-03);
  }
}
@media (min-width: 1152px) {
  .big-screen\:bg-02 {
    background-color: var(--color-gray-03);
  }
}
.bg-03 {
  background-color: var(--color-gray-02);
}

@media (min-width: 720px) {
  .tablet\:bg-03 {
    background-color: var(--color-gray-02);
  }
}
@media (min-width: 960px) {
  .desktop\:bg-03 {
    background-color: var(--color-gray-02);
  }
}
@media (min-width: 1152px) {
  .big-screen\:bg-03 {
    background-color: var(--color-gray-02);
  }
}
.bg-04 {
  background-color: var(--color-gray-01);
}

@media (min-width: 720px) {
  .tablet\:bg-04 {
    background-color: var(--color-gray-01);
  }
}
@media (min-width: 960px) {
  .desktop\:bg-04 {
    background-color: var(--color-gray-01);
  }
}
@media (min-width: 1152px) {
  .big-screen\:bg-04 {
    background-color: var(--color-gray-01);
  }
}
.m-xs {
  margin: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:m-xs {
    margin: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:m-xs {
    margin: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:m-xs {
    margin: var(--spc-xs);
  }
}
.m-sm {
  margin: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:m-sm {
    margin: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:m-sm {
    margin: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:m-sm {
    margin: var(--spc-sm);
  }
}
.m-md {
  margin: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:m-md {
    margin: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:m-md {
    margin: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:m-md {
    margin: var(--spc-md);
  }
}
.m-lg {
  margin: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:m-lg {
    margin: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:m-lg {
    margin: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:m-lg {
    margin: var(--spc-lg);
  }
}
.m-xl {
  margin: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:m-xl {
    margin: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:m-xl {
    margin: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:m-xl {
    margin: var(--spc-xl);
  }
}
.m-2xl {
  margin: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:m-2xl {
    margin: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:m-2xl {
    margin: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:m-2xl {
    margin: var(--spc-2xl);
  }
}
.m-3xl {
  margin: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:m-3xl {
    margin: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:m-3xl {
    margin: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:m-3xl {
    margin: var(--spc-3xl);
  }
}
.mt-xs {
  margin-top: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:mt-xs {
    margin-top: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:mt-xs {
    margin-top: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mt-xs {
    margin-top: var(--spc-xs);
  }
}
.mt-sm {
  margin-top: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:mt-sm {
    margin-top: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:mt-sm {
    margin-top: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mt-sm {
    margin-top: var(--spc-sm);
  }
}
.mt-md {
  margin-top: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:mt-md {
    margin-top: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:mt-md {
    margin-top: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mt-md {
    margin-top: var(--spc-md);
  }
}
.mt-lg {
  margin-top: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:mt-lg {
    margin-top: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:mt-lg {
    margin-top: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mt-lg {
    margin-top: var(--spc-lg);
  }
}
.mt-xl {
  margin-top: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:mt-xl {
    margin-top: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mt-xl {
    margin-top: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mt-xl {
    margin-top: var(--spc-xl);
  }
}
.mt-2xl {
  margin-top: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:mt-2xl {
    margin-top: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mt-2xl {
    margin-top: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mt-2xl {
    margin-top: var(--spc-2xl);
  }
}
.mt-3xl {
  margin-top: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:mt-3xl {
    margin-top: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mt-3xl {
    margin-top: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mt-3xl {
    margin-top: var(--spc-3xl);
  }
}
.mr-xs {
  margin-right: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:mr-xs {
    margin-right: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:mr-xs {
    margin-right: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mr-xs {
    margin-right: var(--spc-xs);
  }
}
.mr-sm {
  margin-right: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:mr-sm {
    margin-right: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:mr-sm {
    margin-right: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mr-sm {
    margin-right: var(--spc-sm);
  }
}
.mr-md {
  margin-right: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:mr-md {
    margin-right: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:mr-md {
    margin-right: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mr-md {
    margin-right: var(--spc-md);
  }
}
.mr-lg {
  margin-right: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:mr-lg {
    margin-right: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:mr-lg {
    margin-right: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mr-lg {
    margin-right: var(--spc-lg);
  }
}
.mr-xl {
  margin-right: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:mr-xl {
    margin-right: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mr-xl {
    margin-right: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mr-xl {
    margin-right: var(--spc-xl);
  }
}
.mr-2xl {
  margin-right: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:mr-2xl {
    margin-right: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mr-2xl {
    margin-right: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mr-2xl {
    margin-right: var(--spc-2xl);
  }
}
.mr-3xl {
  margin-right: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:mr-3xl {
    margin-right: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mr-3xl {
    margin-right: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mr-3xl {
    margin-right: var(--spc-3xl);
  }
}
.mb-xs {
  margin-bottom: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:mb-xs {
    margin-bottom: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:mb-xs {
    margin-bottom: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mb-xs {
    margin-bottom: var(--spc-xs);
  }
}
.mb-sm {
  margin-bottom: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:mb-sm {
    margin-bottom: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:mb-sm {
    margin-bottom: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mb-sm {
    margin-bottom: var(--spc-sm);
  }
}
.mb-md {
  margin-bottom: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:mb-md {
    margin-bottom: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:mb-md {
    margin-bottom: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mb-md {
    margin-bottom: var(--spc-md);
  }
}
.mb-lg {
  margin-bottom: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:mb-lg {
    margin-bottom: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:mb-lg {
    margin-bottom: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mb-lg {
    margin-bottom: var(--spc-lg);
  }
}
.mb-xl {
  margin-bottom: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:mb-xl {
    margin-bottom: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mb-xl {
    margin-bottom: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mb-xl {
    margin-bottom: var(--spc-xl);
  }
}
.mb-2xl {
  margin-bottom: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:mb-2xl {
    margin-bottom: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mb-2xl {
    margin-bottom: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mb-2xl {
    margin-bottom: var(--spc-2xl);
  }
}
.mb-3xl {
  margin-bottom: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:mb-3xl {
    margin-bottom: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mb-3xl {
    margin-bottom: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mb-3xl {
    margin-bottom: var(--spc-3xl);
  }
}
.ml-xs {
  margin-left: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:ml-xs {
    margin-left: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:ml-xs {
    margin-left: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:ml-xs {
    margin-left: var(--spc-xs);
  }
}
.ml-sm {
  margin-left: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:ml-sm {
    margin-left: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:ml-sm {
    margin-left: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:ml-sm {
    margin-left: var(--spc-sm);
  }
}
.ml-md {
  margin-left: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:ml-md {
    margin-left: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:ml-md {
    margin-left: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:ml-md {
    margin-left: var(--spc-md);
  }
}
.ml-lg {
  margin-left: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:ml-lg {
    margin-left: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:ml-lg {
    margin-left: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:ml-lg {
    margin-left: var(--spc-lg);
  }
}
.ml-xl {
  margin-left: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:ml-xl {
    margin-left: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:ml-xl {
    margin-left: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:ml-xl {
    margin-left: var(--spc-xl);
  }
}
.ml-2xl {
  margin-left: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:ml-2xl {
    margin-left: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:ml-2xl {
    margin-left: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:ml-2xl {
    margin-left: var(--spc-2xl);
  }
}
.ml-3xl {
  margin-left: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:ml-3xl {
    margin-left: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:ml-3xl {
    margin-left: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:ml-3xl {
    margin-left: var(--spc-3xl);
  }
}
.mx-xs {
  margin-left: var(--spc-xs);
}

.mx-xs {
  margin-right: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:mx-xs {
    margin-left: var(--spc-xs);
  }
  .tablet\:mx-xs {
    margin-right: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:mx-xs {
    margin-left: var(--spc-xs);
  }
  .desktop\:mx-xs {
    margin-right: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mx-xs {
    margin-left: var(--spc-xs);
  }
  .big-screen\:mx-xs {
    margin-right: var(--spc-xs);
  }
}
.mx-sm {
  margin-left: var(--spc-sm);
}

.mx-sm {
  margin-right: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:mx-sm {
    margin-left: var(--spc-sm);
  }
  .tablet\:mx-sm {
    margin-right: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:mx-sm {
    margin-left: var(--spc-sm);
  }
  .desktop\:mx-sm {
    margin-right: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mx-sm {
    margin-left: var(--spc-sm);
  }
  .big-screen\:mx-sm {
    margin-right: var(--spc-sm);
  }
}
.mx-md {
  margin-left: var(--spc-md);
}

.mx-md {
  margin-right: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:mx-md {
    margin-left: var(--spc-md);
  }
  .tablet\:mx-md {
    margin-right: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:mx-md {
    margin-left: var(--spc-md);
  }
  .desktop\:mx-md {
    margin-right: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mx-md {
    margin-left: var(--spc-md);
  }
  .big-screen\:mx-md {
    margin-right: var(--spc-md);
  }
}
.mx-lg {
  margin-left: var(--spc-lg);
}

.mx-lg {
  margin-right: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:mx-lg {
    margin-left: var(--spc-lg);
  }
  .tablet\:mx-lg {
    margin-right: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:mx-lg {
    margin-left: var(--spc-lg);
  }
  .desktop\:mx-lg {
    margin-right: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mx-lg {
    margin-left: var(--spc-lg);
  }
  .big-screen\:mx-lg {
    margin-right: var(--spc-lg);
  }
}
.mx-xl {
  margin-left: var(--spc-xl);
}

.mx-xl {
  margin-right: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:mx-xl {
    margin-left: var(--spc-xl);
  }
  .tablet\:mx-xl {
    margin-right: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mx-xl {
    margin-left: var(--spc-xl);
  }
  .desktop\:mx-xl {
    margin-right: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mx-xl {
    margin-left: var(--spc-xl);
  }
  .big-screen\:mx-xl {
    margin-right: var(--spc-xl);
  }
}
.mx-2xl {
  margin-left: var(--spc-2xl);
}

.mx-2xl {
  margin-right: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:mx-2xl {
    margin-left: var(--spc-2xl);
  }
  .tablet\:mx-2xl {
    margin-right: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mx-2xl {
    margin-left: var(--spc-2xl);
  }
  .desktop\:mx-2xl {
    margin-right: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mx-2xl {
    margin-left: var(--spc-2xl);
  }
  .big-screen\:mx-2xl {
    margin-right: var(--spc-2xl);
  }
}
.mx-3xl {
  margin-left: var(--spc-3xl);
}

.mx-3xl {
  margin-right: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:mx-3xl {
    margin-left: var(--spc-3xl);
  }
  .tablet\:mx-3xl {
    margin-right: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:mx-3xl {
    margin-left: var(--spc-3xl);
  }
  .desktop\:mx-3xl {
    margin-right: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:mx-3xl {
    margin-left: var(--spc-3xl);
  }
  .big-screen\:mx-3xl {
    margin-right: var(--spc-3xl);
  }
}
.my-xs {
  margin-top: var(--spc-xs);
}

.my-xs {
  margin-bottom: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:my-xs {
    margin-top: var(--spc-xs);
  }
  .tablet\:my-xs {
    margin-bottom: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:my-xs {
    margin-top: var(--spc-xs);
  }
  .desktop\:my-xs {
    margin-bottom: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:my-xs {
    margin-top: var(--spc-xs);
  }
  .big-screen\:my-xs {
    margin-bottom: var(--spc-xs);
  }
}
.my-sm {
  margin-top: var(--spc-sm);
}

.my-sm {
  margin-bottom: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:my-sm {
    margin-top: var(--spc-sm);
  }
  .tablet\:my-sm {
    margin-bottom: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:my-sm {
    margin-top: var(--spc-sm);
  }
  .desktop\:my-sm {
    margin-bottom: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:my-sm {
    margin-top: var(--spc-sm);
  }
  .big-screen\:my-sm {
    margin-bottom: var(--spc-sm);
  }
}
.my-md {
  margin-top: var(--spc-md);
}

.my-md {
  margin-bottom: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:my-md {
    margin-top: var(--spc-md);
  }
  .tablet\:my-md {
    margin-bottom: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:my-md {
    margin-top: var(--spc-md);
  }
  .desktop\:my-md {
    margin-bottom: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:my-md {
    margin-top: var(--spc-md);
  }
  .big-screen\:my-md {
    margin-bottom: var(--spc-md);
  }
}
.my-lg {
  margin-top: var(--spc-lg);
}

.my-lg {
  margin-bottom: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:my-lg {
    margin-top: var(--spc-lg);
  }
  .tablet\:my-lg {
    margin-bottom: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:my-lg {
    margin-top: var(--spc-lg);
  }
  .desktop\:my-lg {
    margin-bottom: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:my-lg {
    margin-top: var(--spc-lg);
  }
  .big-screen\:my-lg {
    margin-bottom: var(--spc-lg);
  }
}
.my-xl {
  margin-top: var(--spc-xl);
}

.my-xl {
  margin-bottom: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:my-xl {
    margin-top: var(--spc-xl);
  }
  .tablet\:my-xl {
    margin-bottom: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:my-xl {
    margin-top: var(--spc-xl);
  }
  .desktop\:my-xl {
    margin-bottom: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:my-xl {
    margin-top: var(--spc-xl);
  }
  .big-screen\:my-xl {
    margin-bottom: var(--spc-xl);
  }
}
.my-2xl {
  margin-top: var(--spc-2xl);
}

.my-2xl {
  margin-bottom: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:my-2xl {
    margin-top: var(--spc-2xl);
  }
  .tablet\:my-2xl {
    margin-bottom: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:my-2xl {
    margin-top: var(--spc-2xl);
  }
  .desktop\:my-2xl {
    margin-bottom: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:my-2xl {
    margin-top: var(--spc-2xl);
  }
  .big-screen\:my-2xl {
    margin-bottom: var(--spc-2xl);
  }
}
.my-3xl {
  margin-top: var(--spc-3xl);
}

.my-3xl {
  margin-bottom: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:my-3xl {
    margin-top: var(--spc-3xl);
  }
  .tablet\:my-3xl {
    margin-bottom: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:my-3xl {
    margin-top: var(--spc-3xl);
  }
  .desktop\:my-3xl {
    margin-bottom: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:my-3xl {
    margin-top: var(--spc-3xl);
  }
  .big-screen\:my-3xl {
    margin-bottom: var(--spc-3xl);
  }
}
.p-xs {
  padding: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:p-xs {
    padding: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:p-xs {
    padding: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:p-xs {
    padding: var(--spc-xs);
  }
}
.p-sm {
  padding: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:p-sm {
    padding: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:p-sm {
    padding: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:p-sm {
    padding: var(--spc-sm);
  }
}
.p-md {
  padding: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:p-md {
    padding: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:p-md {
    padding: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:p-md {
    padding: var(--spc-md);
  }
}
.p-lg {
  padding: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:p-lg {
    padding: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:p-lg {
    padding: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:p-lg {
    padding: var(--spc-lg);
  }
}
.p-xl {
  padding: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:p-xl {
    padding: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:p-xl {
    padding: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:p-xl {
    padding: var(--spc-xl);
  }
}
.p-2xl {
  padding: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:p-2xl {
    padding: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:p-2xl {
    padding: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:p-2xl {
    padding: var(--spc-2xl);
  }
}
.p-3xl {
  padding: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:p-3xl {
    padding: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:p-3xl {
    padding: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:p-3xl {
    padding: var(--spc-3xl);
  }
}
.pt-xs {
  padding-top: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:pt-xs {
    padding-top: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:pt-xs {
    padding-top: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pt-xs {
    padding-top: var(--spc-xs);
  }
}
.pt-sm {
  padding-top: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:pt-sm {
    padding-top: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:pt-sm {
    padding-top: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pt-sm {
    padding-top: var(--spc-sm);
  }
}
.pt-md {
  padding-top: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:pt-md {
    padding-top: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:pt-md {
    padding-top: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pt-md {
    padding-top: var(--spc-md);
  }
}
.pt-lg {
  padding-top: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:pt-lg {
    padding-top: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:pt-lg {
    padding-top: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pt-lg {
    padding-top: var(--spc-lg);
  }
}
.pt-xl {
  padding-top: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:pt-xl {
    padding-top: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pt-xl {
    padding-top: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pt-xl {
    padding-top: var(--spc-xl);
  }
}
.pt-2xl {
  padding-top: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:pt-2xl {
    padding-top: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pt-2xl {
    padding-top: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pt-2xl {
    padding-top: var(--spc-2xl);
  }
}
.pt-3xl {
  padding-top: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:pt-3xl {
    padding-top: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pt-3xl {
    padding-top: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pt-3xl {
    padding-top: var(--spc-3xl);
  }
}
.pr-xs {
  padding-right: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:pr-xs {
    padding-right: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:pr-xs {
    padding-right: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pr-xs {
    padding-right: var(--spc-xs);
  }
}
.pr-sm {
  padding-right: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:pr-sm {
    padding-right: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:pr-sm {
    padding-right: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pr-sm {
    padding-right: var(--spc-sm);
  }
}
.pr-md {
  padding-right: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:pr-md {
    padding-right: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:pr-md {
    padding-right: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pr-md {
    padding-right: var(--spc-md);
  }
}
.pr-lg {
  padding-right: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:pr-lg {
    padding-right: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:pr-lg {
    padding-right: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pr-lg {
    padding-right: var(--spc-lg);
  }
}
.pr-xl {
  padding-right: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:pr-xl {
    padding-right: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pr-xl {
    padding-right: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pr-xl {
    padding-right: var(--spc-xl);
  }
}
.pr-2xl {
  padding-right: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:pr-2xl {
    padding-right: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pr-2xl {
    padding-right: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pr-2xl {
    padding-right: var(--spc-2xl);
  }
}
.pr-3xl {
  padding-right: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:pr-3xl {
    padding-right: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pr-3xl {
    padding-right: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pr-3xl {
    padding-right: var(--spc-3xl);
  }
}
.pb-xs {
  padding-bottom: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:pb-xs {
    padding-bottom: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:pb-xs {
    padding-bottom: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pb-xs {
    padding-bottom: var(--spc-xs);
  }
}
.pb-sm {
  padding-bottom: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:pb-sm {
    padding-bottom: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:pb-sm {
    padding-bottom: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pb-sm {
    padding-bottom: var(--spc-sm);
  }
}
.pb-md {
  padding-bottom: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:pb-md {
    padding-bottom: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:pb-md {
    padding-bottom: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pb-md {
    padding-bottom: var(--spc-md);
  }
}
.pb-lg {
  padding-bottom: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:pb-lg {
    padding-bottom: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:pb-lg {
    padding-bottom: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pb-lg {
    padding-bottom: var(--spc-lg);
  }
}
.pb-xl {
  padding-bottom: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:pb-xl {
    padding-bottom: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pb-xl {
    padding-bottom: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pb-xl {
    padding-bottom: var(--spc-xl);
  }
}
.pb-2xl {
  padding-bottom: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:pb-2xl {
    padding-bottom: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pb-2xl {
    padding-bottom: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pb-2xl {
    padding-bottom: var(--spc-2xl);
  }
}
.pb-3xl {
  padding-bottom: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:pb-3xl {
    padding-bottom: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pb-3xl {
    padding-bottom: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pb-3xl {
    padding-bottom: var(--spc-3xl);
  }
}
.pl-xs {
  padding-left: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:pl-xs {
    padding-left: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:pl-xs {
    padding-left: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pl-xs {
    padding-left: var(--spc-xs);
  }
}
.pl-sm {
  padding-left: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:pl-sm {
    padding-left: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:pl-sm {
    padding-left: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pl-sm {
    padding-left: var(--spc-sm);
  }
}
.pl-md {
  padding-left: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:pl-md {
    padding-left: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:pl-md {
    padding-left: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pl-md {
    padding-left: var(--spc-md);
  }
}
.pl-lg {
  padding-left: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:pl-lg {
    padding-left: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:pl-lg {
    padding-left: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pl-lg {
    padding-left: var(--spc-lg);
  }
}
.pl-xl {
  padding-left: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:pl-xl {
    padding-left: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pl-xl {
    padding-left: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pl-xl {
    padding-left: var(--spc-xl);
  }
}
.pl-2xl {
  padding-left: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:pl-2xl {
    padding-left: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pl-2xl {
    padding-left: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pl-2xl {
    padding-left: var(--spc-2xl);
  }
}
.pl-3xl {
  padding-left: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:pl-3xl {
    padding-left: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:pl-3xl {
    padding-left: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:pl-3xl {
    padding-left: var(--spc-3xl);
  }
}
.px-xs {
  padding-left: var(--spc-xs);
}

.px-xs {
  padding-right: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:px-xs {
    padding-left: var(--spc-xs);
  }
  .tablet\:px-xs {
    padding-right: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:px-xs {
    padding-left: var(--spc-xs);
  }
  .desktop\:px-xs {
    padding-right: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:px-xs {
    padding-left: var(--spc-xs);
  }
  .big-screen\:px-xs {
    padding-right: var(--spc-xs);
  }
}
.px-sm {
  padding-left: var(--spc-sm);
}

.px-sm {
  padding-right: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:px-sm {
    padding-left: var(--spc-sm);
  }
  .tablet\:px-sm {
    padding-right: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:px-sm {
    padding-left: var(--spc-sm);
  }
  .desktop\:px-sm {
    padding-right: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:px-sm {
    padding-left: var(--spc-sm);
  }
  .big-screen\:px-sm {
    padding-right: var(--spc-sm);
  }
}
.px-md {
  padding-left: var(--spc-md);
}

.px-md {
  padding-right: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:px-md {
    padding-left: var(--spc-md);
  }
  .tablet\:px-md {
    padding-right: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:px-md {
    padding-left: var(--spc-md);
  }
  .desktop\:px-md {
    padding-right: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:px-md {
    padding-left: var(--spc-md);
  }
  .big-screen\:px-md {
    padding-right: var(--spc-md);
  }
}
.px-lg {
  padding-left: var(--spc-lg);
}

.px-lg {
  padding-right: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:px-lg {
    padding-left: var(--spc-lg);
  }
  .tablet\:px-lg {
    padding-right: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:px-lg {
    padding-left: var(--spc-lg);
  }
  .desktop\:px-lg {
    padding-right: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:px-lg {
    padding-left: var(--spc-lg);
  }
  .big-screen\:px-lg {
    padding-right: var(--spc-lg);
  }
}
.px-xl {
  padding-left: var(--spc-xl);
}

.px-xl {
  padding-right: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:px-xl {
    padding-left: var(--spc-xl);
  }
  .tablet\:px-xl {
    padding-right: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:px-xl {
    padding-left: var(--spc-xl);
  }
  .desktop\:px-xl {
    padding-right: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:px-xl {
    padding-left: var(--spc-xl);
  }
  .big-screen\:px-xl {
    padding-right: var(--spc-xl);
  }
}
.px-2xl {
  padding-left: var(--spc-2xl);
}

.px-2xl {
  padding-right: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:px-2xl {
    padding-left: var(--spc-2xl);
  }
  .tablet\:px-2xl {
    padding-right: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:px-2xl {
    padding-left: var(--spc-2xl);
  }
  .desktop\:px-2xl {
    padding-right: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:px-2xl {
    padding-left: var(--spc-2xl);
  }
  .big-screen\:px-2xl {
    padding-right: var(--spc-2xl);
  }
}
.px-3xl {
  padding-left: var(--spc-3xl);
}

.px-3xl {
  padding-right: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:px-3xl {
    padding-left: var(--spc-3xl);
  }
  .tablet\:px-3xl {
    padding-right: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:px-3xl {
    padding-left: var(--spc-3xl);
  }
  .desktop\:px-3xl {
    padding-right: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:px-3xl {
    padding-left: var(--spc-3xl);
  }
  .big-screen\:px-3xl {
    padding-right: var(--spc-3xl);
  }
}
.py-xs {
  padding-top: var(--spc-xs);
}

.py-xs {
  padding-bottom: var(--spc-xs);
}

@media (min-width: 720px) {
  .tablet\:py-xs {
    padding-top: var(--spc-xs);
  }
  .tablet\:py-xs {
    padding-bottom: var(--spc-xs);
  }
}
@media (min-width: 960px) {
  .desktop\:py-xs {
    padding-top: var(--spc-xs);
  }
  .desktop\:py-xs {
    padding-bottom: var(--spc-xs);
  }
}
@media (min-width: 1152px) {
  .big-screen\:py-xs {
    padding-top: var(--spc-xs);
  }
  .big-screen\:py-xs {
    padding-bottom: var(--spc-xs);
  }
}
.py-sm {
  padding-top: var(--spc-sm);
}

.py-sm {
  padding-bottom: var(--spc-sm);
}

@media (min-width: 720px) {
  .tablet\:py-sm {
    padding-top: var(--spc-sm);
  }
  .tablet\:py-sm {
    padding-bottom: var(--spc-sm);
  }
}
@media (min-width: 960px) {
  .desktop\:py-sm {
    padding-top: var(--spc-sm);
  }
  .desktop\:py-sm {
    padding-bottom: var(--spc-sm);
  }
}
@media (min-width: 1152px) {
  .big-screen\:py-sm {
    padding-top: var(--spc-sm);
  }
  .big-screen\:py-sm {
    padding-bottom: var(--spc-sm);
  }
}
.py-md {
  padding-top: var(--spc-md);
}

.py-md {
  padding-bottom: var(--spc-md);
}

@media (min-width: 720px) {
  .tablet\:py-md {
    padding-top: var(--spc-md);
  }
  .tablet\:py-md {
    padding-bottom: var(--spc-md);
  }
}
@media (min-width: 960px) {
  .desktop\:py-md {
    padding-top: var(--spc-md);
  }
  .desktop\:py-md {
    padding-bottom: var(--spc-md);
  }
}
@media (min-width: 1152px) {
  .big-screen\:py-md {
    padding-top: var(--spc-md);
  }
  .big-screen\:py-md {
    padding-bottom: var(--spc-md);
  }
}
.py-lg {
  padding-top: var(--spc-lg);
}

.py-lg {
  padding-bottom: var(--spc-lg);
}

@media (min-width: 720px) {
  .tablet\:py-lg {
    padding-top: var(--spc-lg);
  }
  .tablet\:py-lg {
    padding-bottom: var(--spc-lg);
  }
}
@media (min-width: 960px) {
  .desktop\:py-lg {
    padding-top: var(--spc-lg);
  }
  .desktop\:py-lg {
    padding-bottom: var(--spc-lg);
  }
}
@media (min-width: 1152px) {
  .big-screen\:py-lg {
    padding-top: var(--spc-lg);
  }
  .big-screen\:py-lg {
    padding-bottom: var(--spc-lg);
  }
}
.py-xl {
  padding-top: var(--spc-xl);
}

.py-xl {
  padding-bottom: var(--spc-xl);
}

@media (min-width: 720px) {
  .tablet\:py-xl {
    padding-top: var(--spc-xl);
  }
  .tablet\:py-xl {
    padding-bottom: var(--spc-xl);
  }
}
@media (min-width: 960px) {
  .desktop\:py-xl {
    padding-top: var(--spc-xl);
  }
  .desktop\:py-xl {
    padding-bottom: var(--spc-xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:py-xl {
    padding-top: var(--spc-xl);
  }
  .big-screen\:py-xl {
    padding-bottom: var(--spc-xl);
  }
}
.py-2xl {
  padding-top: var(--spc-2xl);
}

.py-2xl {
  padding-bottom: var(--spc-2xl);
}

@media (min-width: 720px) {
  .tablet\:py-2xl {
    padding-top: var(--spc-2xl);
  }
  .tablet\:py-2xl {
    padding-bottom: var(--spc-2xl);
  }
}
@media (min-width: 960px) {
  .desktop\:py-2xl {
    padding-top: var(--spc-2xl);
  }
  .desktop\:py-2xl {
    padding-bottom: var(--spc-2xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:py-2xl {
    padding-top: var(--spc-2xl);
  }
  .big-screen\:py-2xl {
    padding-bottom: var(--spc-2xl);
  }
}
.py-3xl {
  padding-top: var(--spc-3xl);
}

.py-3xl {
  padding-bottom: var(--spc-3xl);
}

@media (min-width: 720px) {
  .tablet\:py-3xl {
    padding-top: var(--spc-3xl);
  }
  .tablet\:py-3xl {
    padding-bottom: var(--spc-3xl);
  }
}
@media (min-width: 960px) {
  .desktop\:py-3xl {
    padding-top: var(--spc-3xl);
  }
  .desktop\:py-3xl {
    padding-bottom: var(--spc-3xl);
  }
}
@media (min-width: 1152px) {
  .big-screen\:py-3xl {
    padding-top: var(--spc-3xl);
  }
  .big-screen\:py-3xl {
    padding-bottom: var(--spc-3xl);
  }
}
.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

@media (min-width: 720px) {
  .tablet\:w-screen {
    width: 100vw;
  }
  .tablet\:w-full {
    width: 100%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-screen {
    width: 100vw;
  }
  .desktop\:w-full {
    width: 100%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-screen {
    width: 100vw;
  }
  .big-screen\:w-full {
    width: 100%;
  }
}
.w-1\/16 {
  width: 6.25%;
}

@media (min-width: 720px) {
  .tablet\:w-1\/16 {
    width: 6.25%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-1\/16 {
    width: 6.25%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-1\/16 {
    width: 6.25%;
  }
}
.w-2\/16 {
  width: 12.5%;
}

@media (min-width: 720px) {
  .tablet\:w-2\/16 {
    width: 12.5%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-2\/16 {
    width: 12.5%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-2\/16 {
    width: 12.5%;
  }
}
.w-3\/16 {
  width: 18.75%;
}

@media (min-width: 720px) {
  .tablet\:w-3\/16 {
    width: 18.75%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-3\/16 {
    width: 18.75%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-3\/16 {
    width: 18.75%;
  }
}
.w-4\/16 {
  width: 25%;
}

@media (min-width: 720px) {
  .tablet\:w-4\/16 {
    width: 25%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-4\/16 {
    width: 25%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-4\/16 {
    width: 25%;
  }
}
.w-5\/16 {
  width: 31.25%;
}

@media (min-width: 720px) {
  .tablet\:w-5\/16 {
    width: 31.25%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-5\/16 {
    width: 31.25%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-5\/16 {
    width: 31.25%;
  }
}
.w-6\/16 {
  width: 37.5%;
}

@media (min-width: 720px) {
  .tablet\:w-6\/16 {
    width: 37.5%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-6\/16 {
    width: 37.5%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-6\/16 {
    width: 37.5%;
  }
}
.w-7\/16 {
  width: 43.75%;
}

@media (min-width: 720px) {
  .tablet\:w-7\/16 {
    width: 43.75%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-7\/16 {
    width: 43.75%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-7\/16 {
    width: 43.75%;
  }
}
.w-8\/16 {
  width: 50%;
}

@media (min-width: 720px) {
  .tablet\:w-8\/16 {
    width: 50%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-8\/16 {
    width: 50%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-8\/16 {
    width: 50%;
  }
}
.w-9\/16 {
  width: 56.25%;
}

@media (min-width: 720px) {
  .tablet\:w-9\/16 {
    width: 56.25%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-9\/16 {
    width: 56.25%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-9\/16 {
    width: 56.25%;
  }
}
.w-10\/16 {
  width: 62.5%;
}

@media (min-width: 720px) {
  .tablet\:w-10\/16 {
    width: 62.5%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-10\/16 {
    width: 62.5%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-10\/16 {
    width: 62.5%;
  }
}
.w-11\/16 {
  width: 68.75%;
}

@media (min-width: 720px) {
  .tablet\:w-11\/16 {
    width: 68.75%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-11\/16 {
    width: 68.75%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-11\/16 {
    width: 68.75%;
  }
}
.w-12\/16 {
  width: 75%;
}

@media (min-width: 720px) {
  .tablet\:w-12\/16 {
    width: 75%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-12\/16 {
    width: 75%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-12\/16 {
    width: 75%;
  }
}
.w-13\/16 {
  width: 81.25%;
}

@media (min-width: 720px) {
  .tablet\:w-13\/16 {
    width: 81.25%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-13\/16 {
    width: 81.25%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-13\/16 {
    width: 81.25%;
  }
}
.w-14\/16 {
  width: 87.5%;
}

@media (min-width: 720px) {
  .tablet\:w-14\/16 {
    width: 87.5%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-14\/16 {
    width: 87.5%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-14\/16 {
    width: 87.5%;
  }
}
.w-15\/16 {
  width: 93.75%;
}

@media (min-width: 720px) {
  .tablet\:w-15\/16 {
    width: 93.75%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-15\/16 {
    width: 93.75%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-15\/16 {
    width: 93.75%;
  }
}
.w-16\/16 {
  width: 100%;
}

@media (min-width: 720px) {
  .tablet\:w-16\/16 {
    width: 100%;
  }
}
@media (min-width: 960px) {
  .desktop\:w-16\/16 {
    width: 100%;
  }
}
@media (min-width: 1152px) {
  .big-screen\:w-16\/16 {
    width: 100%;
  }
}
.flex {
  display: flex;
}

@media (min-width: 720px) {
  .tablet\:flex {
    display: flex;
  }
}
.flex {
  display: flex;
}

@media (min-width: 960px) {
  .desktop\:flex {
    display: flex;
  }
}
.flex {
  display: flex;
}

@media (min-width: 1152px) {
  .big-screen\:flex {
    display: flex;
  }
}
.flex-col {
  flex-direction: column;
}

@media (min-width: 720px) {
  .tablet\:flex-col {
    flex-direction: column;
  }
}
.flex-col {
  flex-direction: column;
}

@media (min-width: 960px) {
  .desktop\:flex-col {
    flex-direction: column;
  }
}
.flex-col {
  flex-direction: column;
}

@media (min-width: 1152px) {
  .big-screen\:flex-col {
    flex-direction: column;
  }
}
.flex-row {
  flex-direction: row;
}

@media (min-width: 720px) {
  .tablet\:flex-row {
    flex-direction: row;
  }
}
.flex-row {
  flex-direction: row;
}

@media (min-width: 960px) {
  .desktop\:flex-row {
    flex-direction: row;
  }
}
.flex-row {
  flex-direction: row;
}

@media (min-width: 1152px) {
  .big-screen\:flex-row {
    flex-direction: row;
  }
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

@media (min-width: 720px) {
  .tablet\:flex-col-reverse {
    flex-direction: column-reverse;
  }
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

@media (min-width: 960px) {
  .desktop\:flex-col-reverse {
    flex-direction: column-reverse;
  }
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

@media (min-width: 1152px) {
  .big-screen\:flex-col-reverse {
    flex-direction: column-reverse;
  }
}
.flex-row-reverse {
  flex-direction: row-reverse;
}

@media (min-width: 720px) {
  .tablet\:flex-row-reverse {
    flex-direction: row-reverse;
  }
}
.flex-row-reverse {
  flex-direction: row-reverse;
}

@media (min-width: 960px) {
  .desktop\:flex-row-reverse {
    flex-direction: row-reverse;
  }
}
.flex-row-reverse {
  flex-direction: row-reverse;
}

@media (min-width: 1152px) {
  .big-screen\:flex-row-reverse {
    flex-direction: row-reverse;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}

@media (min-width: 720px) {
  .tablet\:flex-wrap {
    flex-wrap: wrap;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}

@media (min-width: 960px) {
  .desktop\:flex-wrap {
    flex-wrap: wrap;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}

@media (min-width: 1152px) {
  .big-screen\:flex-wrap {
    flex-wrap: wrap;
  }
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

@media (min-width: 720px) {
  .tablet\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

@media (min-width: 960px) {
  .desktop\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

@media (min-width: 1152px) {
  .big-screen\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
.flex-nowrap {
  flex-wrap: nowrap;
}

@media (min-width: 720px) {
  .tablet\:flex-nowrap {
    flex-wrap: nowrap;
  }
}
.flex-nowrap {
  flex-wrap: nowrap;
}

@media (min-width: 960px) {
  .desktop\:flex-nowrap {
    flex-wrap: nowrap;
  }
}
.flex-nowrap {
  flex-wrap: nowrap;
}

@media (min-width: 1152px) {
  .big-screen\:flex-nowrap {
    flex-wrap: nowrap;
  }
}

/*# sourceMappingURL=compile.css.map */
